

.photo_wall .photo_wall_content li{float:left;}
.photo_wall .photo_wall_content li.sm_tile .img-wrapper .hip-photo{width:270px;height:185px;margin:5px}
.photo_wall .photo_wall_content li.lg_tile .img-wrapper .hip-photo{width:640px;height:380px;margin:5px}


.con12{padding:20px}

.con640{float:left}


.icon_box {margin:20px 0;}
.icon_box span {
    padding: 3px 15px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
}
.icon_box .type{background: #a3bcd6;}
.icon_box .source{background: #d6c396;;}

.info_price .start_price_text{font-size: 18px;color: #333;}
.info_price .start_price{font-size: 48px;color: #e66140;border-bottom: 1px dotted #e3e3e3;}
.info_price .evaluat_price_text{font-size: 18px;color: #bdbdbd;margin-top: 15px;}
.info_price .evaluat_price{font-size: 48px;color: #bdbdbd;margin-bottom: 20px;}


.info_price .btn {
    width: 250px;
    height: 40px;
    line-height: 28px;
    background-color: #e66140;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

.house-detail-info-base ul li,.detail_sale div .sale_price li,.detail_sale div .sale_detail li {
    border-bottom: 1px dotted #e3e3e3;
    line-height: 36px;
	font-size:16px
}

.house-detail-info-base ul li img.icon{
	width:20px
}
.house-detail-info-base ul li .shi_l{
	color:#f5977f;padding-right:10px
}

.detail_sale .title{
	margin-top:45px
}
.detail_sale .title span{
    font-size: 16px;
    color: #333;
    padding: 45px 30px 10px 30px;
    border-bottom: 2px solid #e66140;
}


.detail_sale .border1 {
    height: 2px;
    width: 100%;
    background-color: #bdbdbd;
    display: inline-block;float:left;
	margin-top:8px
}

.detail_sale div .sale_price{float:left;width:50%}

.detail_sale .lookstyle_title, .detail_sale .notice_title {
    border-bottom: 1px dotted #e3e3e3;
    margin-top: 40px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.detail_sale .lookstyle_notice {
    font-size: 16px;
}

.detail_sale .nearby .nearby_info{
    text-align: center;
}

.detail_sale .nearby .nearby_info h4{
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
}

.detail_sale .nearby .nearby_info .nearby_type .new{
    margin-right: :5px;
    color: #e66140;
}

.detail_sale .nearby .nearby_info .nearby_type .old{
    color: #4093e6;
    margin-left: :5px;
}

.detail_sale .nearby .nearby_info .nearby_type span em {
    display: inline-block;
    width: 5px;
    height: 5px;
    vertical-align: middle;
    margin-right: 6px;
}

.detail_sale .nearby .nearby_info .nearby_type .new em {
    background: #e66140;
}

.detail_sale .nearby .nearby_info .nearby_type .old em {
    background: #4093e6;
}




.detail_sale .strategy .strategy_suggest{
    color: #ff6600;
    margin-top: 10px;
    background-color: #ebf0f6;
    height: 150px;
    padding: 30px;
}
.detail_sale .strategy .strategy_suggest h3 {
    font-size: 18px;
    font-weight: initial;
}
.detail_sale .strategy .strategy_suggest p {
    font-size: 48px;
}


.detail_sale .strategy .strategy_rate{
    color: #ff6600;
    background-color: #e1e9f1;
    height: 150px;
}

.detail_sale .strategy .strategy_rate .rateL {
    padding: 30px;
    width: 50%;
    float: left;
    border-right: 1px solid #FFFFFF;
    height: 100%;
}

.detail_sale .strategy .strategy_rate .rateR {
    padding: 30px;
    width: 50%;
    float: right;
}

.detail_sale .strategy .strategy_rate h3{
    font-size: 18px;
    color: #666;
    font-weight: initial;
}

.detail_sale .strategy .strategy_rate p{
    font-size: 30px;
    height: 80px;
    line-height: 80px;
}

.detail_sale .strategy .strategy_record {
    margin-top: 50px;
}


.detail_sale .strategy .strategy_record h3 {
    font-size: 14px;
    color: #999;
    font-weight: initial;
}



.detail_sale .strategy .strategy_chart {
    font-size: 16px;
    margin-top: 40px;
}


.detail_sale .strategy .strategy_chart em {
    font-style: normal;
    color: #e66140;
}




.newslist{margin:30px 0}
.news_img{float:left;margin:0 15px}
.news_text{margin:0 15px}
.news_img img{width:200px;border-radius:5px}
.news_text p{padding:5px;}
.news_text p.con{height:110px;overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis}


.con12.page{text-align:center}

.details_t p{text-align:left;padding:0 10px }
.details_con{padding:20px 10px}
.details_con p{font-size:18px;line-height:2em;margin:5px;text-indent:2em}
.details_con p.details_img{text-align:center;text-indent:0em}

#myCarousel{display:none;}




.ask{float:right;}
.ask .explain{width: 300px;height: 45px;background-color: #cccccc; line-height: 45px;font-size: 14px;text-align: center;color: #fff;border-top: 1px dotted #FFF;border-bottom: 1px dotted #FFF;margin: 15px 0px}

.ask .lawyer{margin: 5px 0px;height: 90px;}

.ask .lawyer{margin: 5px 0px;height: 90px;}
.ask .lawyer .lawyer_img{float: left; width: 90px;height: 90px; text-align: center;margin: 0px 15px;}
.ask .lawyer .lawyer_img img{border-radius:50%;width: 90px;height: 90px;}



.ask .lawyer .lawyer_text{color: #666;padding-top: 10px;}
.ask .ask_btn{margin-top: 25px;}
.ask .ask_btn .ask_btn_a{width: 250px;    height: 40px;    line-height: 40px;    background-color: #42b8ea;    border-radius: 5px;    text-align: center;    color: #fff;    font-family: '微软雅黑';display:block;margin-left: 25px;}











@media (max-width: 1330px){
	.photo_wall{width:640px;margin:0 auto}
	.photo_wall .photo_wall_content li.sm_tile .img-wrapper .hip-photo {
		margin: 5px 25px;
	}

}

@media (max-width: 1000px){
	.details_con p.details_img img{width:100%}
	.con640 {float: none;}
	.ask {float: none;}
}


@media (max-width: 900px){
	.details_t .fs50{font-size:24px;margin:20px 0}
	.details_t .fs18{font-size:14px}
	.details_con p{font-size:14px;}
}


@media (max-width: 700px){
	.photo_wall{display:none}
	#myCarousel{display:block;}
	#myCarousel .carousel-inner .item img{width:100%}
	.con640 {
		width: 100%;
		margin: 0 auto;
	}
}



@media (max-width: 540px){
	.news_img{float:none;margin: 0 auto;text-align:center;}
}