
	.carousel {
	    position: relative;
	    top: -50px;
	}

	.carousel-inner>.item>img{
		width: 100%;
	}


    .apply-condition-div {
        width: 100%;
        border: none;
        border-bottom: 1px solid #eeeeee;
    }




    .dev-box-flex {
        font-size: 17px;
    }

    .banner img {
        width: 100%;
    }

    .banner a {
        display: block;
    }

    #hidden_div {
        height: 44px;
        visibility: hidden;
    }

    /*swiper自定义*/
    .swiper-pagination {
        text-align: center;
    }

    #sure-title {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        font-size: 18px;
    }

    #calculate_img {
        height: 14px;
    }

    .apply_count_label {
        color: #333333;
        display: inline-block;
        width: 8%;
    }
    .apply_count_label-t {
        color: #333333;
        display: inline-block;

    }
    .apply_count_label-r {
        color: #e66140;
        width: 14%;
        text-align: right;

    }

    #sure-body-b {
        border: none;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        padding: 12px 15px;
    }

    #sure-body {
        height: 45px;
        border: none;
    }

    #bank_icon img {
        border: none;
        margin: 0;
        padding: 0;
        width: 25%;
        height: 50%;
    }

    #hidden_part {
        position: fixed;
        top: 0px;
        right: 0;
        left: 0;
        background: #7f7f7f;
        width: 100%;
        height: 8000px;
        opacity: 0.7;
        z-index: 1000;
    }

    #tip {
        position: fixed;
        top: 30%;
        background: #ffffff;
        width: 86%;
        z-index: 1100;
        margin-left: 7%;
        border-radius: 1px;
    }

    #tip p {
        font-size: 13px;
        color: #666666;
    }

    #tip p {
        padding: 15px;
    }

    #tip .p2 {
        padding: 0px 15px 15px 15px;
    }

    #count_body {
        width: 100%;
        border: none;
        margin-top: 10px;
        display: inline-block;
        position: fixed;
        bottom: 0;
    }

    .data-pad {
        height: 44px;
        text-align: center;
        float: left;
        width: 50%;
        line-height: 44px;
    }

    .plat {
        width: 100%;
        height: 25px;
        margin-top: 10px;
        padding-top: 5px;
        background-color: #ffffff;
        border-bottom: 1px solid #eeeeee;
        border-top: 1px solid #eeeeee;
    }

    .plat span {
        padding-left: 10px;
    }

    .apply-condition-title-l {
        width: 50%;
        height: 38px;
        background: #ffffff;
        border: none;
        border-right: 1px solid #eeeeee;

    }

    .apply-condition-title-r {
        width: 50%;
        height: 38px;
        background: #ffffff;
        border: none
    }

    .data-pad-l {
        background-color: white;
    }

    .data-pad-r {
        background-color: #e66140;
        color: white;
    }

    .swiper-box {
        display: none;
        width: 100%;
        height: 100%;
    }

    #plat_feature {
        min-width: 320px;
        margin-top: 1px;
        background: #ffffff;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        border-bottom: 1px solid #eeeeee;
    }

    /* webkit 浏览器*/
    #apply_count::-webkit-input-placeholder {
        font-size: 14px;
        line-height: 26px;
    }

    /*火狐浏览器 */
    #apply_count::-moz-placeholder {
        font-size: 14px;
        line-height: 26px;
    }

    #apply_count {
        font-size: 19px;
        color: #e66140;
        text-align:center;
        width: 135px;
        border: none;
    }

    #swiperDiv {
        width: 100%;
    }

    .no-view {
        display: none;
    }

    .data-feature {
        display: inline-block;
        height: 100px;
        text-align: center;
        width: 33%;
    }

    .data-feature > p {
        font-size: 12px;
    }

    .data-feature > p:last-child {
        color: #c5c5c5;
    }

    .data-feature-1 {
        width: 30%;
    }

    .data-feature-2 {
        width: 50%;
    }

    .data-feature-3 {
        width: 40%;
    }

    .circle-title {
        height: 71px;
        width: 71px;
        color: #ffffff;
        border-radius: 50%;
        text-align: center;
        display: inline-block;

    }

    .circle-title-1 {
        background: #f5977f;
    }

    .circle-title-2 {
        background: #f5c67f;
    }

    .circle-title-3 {
        background: #acd683;
    }

    .circle-title-4 {
        background: #7fbaf5;;
    }

    .circle-title-5 {
        background: #a07cd6;
    }

    .circle-title p {
        font-size: 33px;
        padding-top: 13.5px;
    }

    #bank_icon {
        margin-top: 1px;
        width: 100%;
        border: none;
        height: 123.75px;
        border-bottom: 1px solid #eeeeee;
    }

    .sure-btn {
        background: #ffffff;
        border: none;
        border-top: 1px solid #eeeeee;
        width: 50%;
        height: 44px;
    }

    .sure-btn-l {
        border-top: 1px solid #eeeeee;
        color: #666666;
        border-right: 1px solid #eeeeee;
    }

    .sure-btn-r {
        color: #e66140;
    }

    .orange {
        color: #e56140;
        font-size: 12px;
    }