<!DOCTYPE html>
<html>
<head>
	<title>司法拍卖详情页 - 抢先拍</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">	
	<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script> 	
	<!-- 头部图片展示 -->
	<script language="javascript" type="text/javascript" src="js/jquery.easing.js"></script>
	<script language="javascript" type="text/javascript" src="js/script.js"></script>
	<script src="http://api.map.baidu.com/api?v=2.0&ak=Qi5AthdE9qmY8XtzN7f5iZri2IztigdY"></script>
	<!-- 头部图片展示 -->
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/public.css" rel="stylesheet">
	<link href="css/d.css" rel="stylesheet">
	<style type="text/css">
		#allmap {width: 100%;height: 100%; margin:0;font-family:"微软雅黑";}
		#l-map{height:400px;width:70%;float:left;}
		#r-result{width:30%;float:left;max-height:400px;overflow-y:scroll}
	</style>
</head>
<body>	
	<!-- 头部开始 -->
	<div id="header">	
		<div class="con12">
			<div id="top">
				<div class="header3_logo"></div>
				<div id="nav">
					<nav class="navbar navbar-default" role="navigation">
					   <div class="navbar-header">
						  <button type="button" class="navbar-toggle" data-toggle="collapse" 
							 data-target="#example-navbar-collapse">
							 <span class="sr-only">切换导航</span>
							 <span class="icon-bar"></span>
							 <span class="icon-bar"></span>
							 <span class="icon-bar"></span>
						  </button>
					   </div>
					   <div class="collapse navbar-collapse" id="example-navbar-collapse">
						  <ul class="nav navbar-nav">
							 <li><a href="index.html">首页</a></li>
							 <li class="active"><a href="houselist.html">房屋列表</a></li>
							 <li><a href="newslist.html">资讯信息</a></li>
							 <li><a href="videolist.html">视频中心</a></li>
							 <li><a href="about.html">关于我们</a></li>
						  </ul>
					   </div>
					</nav>
				</div>
				<div id="other">
					<p><a data-toggle="modal" data-target="#myModal_login">登录</a></p>	
					<p><span style="margin:0 10px">|</span></p>	
					<p><a data-toggle="modal" data-target="#myModal_reg">注册</a></p>
				</div>		
							
				<div class="clearfix"></div>
			</div>
		</div>	
	</div>	
	<!-- 头部结束 -->
	<div class="subhead">
		<div class="con12">
			<div class="subhead_search">
				<div class="search-sort-con">
					<form class="search-form clearfix">
						<input class="txt" type="text" id="keyword" name="keyword" placeholder="请输入小区、商圈名称">
						<input type="btn" class="btn">
					</form>
				</div>
			</div>
			<div class="clearfix"></div>	
		</div>
	</div>

<div class="d_top con11">
	<h2>浦发罗兰翡丽浦发罗兰翡丽浦发罗兰翡丽浦发罗兰翡丽</h2>
	<div class="d_top_l">
		<div id="container">
			<div id="lofslidecontent45" class="lof-slidecontent">
			<div class="preload"><div></div></div>
			<div class="lof-main-outer">
			<ul class="lof-main-wapper">
				<li><img src="images/d/w1.jpg" title=""></li> 
				<li><img src="images/d/w2.jpg" title=""></li> 
				<li><img src="images/d/w3.jpg" title=""></li> 
				<li><img src="images/d/w4.jpg" title=""> </li> 
				<li><img src="images/d/w5.jpg" title=""></li> 
				<li><img src="images/d/w6.jpg" title=""> </li> 
				<li><img src="images/d/w7.jpg" title=""> </li> 
				<li><img src="images/d/w8.jpg" title=""> </li> 
			</ul>  	
			</div>
				<div class="lof-navigator-wapper">
					<div onclick="return false" href="" class="lof-previous">Previous</div>			
					<div class="lof-navigator-outer">
						<ul class="lof-navigator">
							<li><img src="images/d/w1.jpg" /></li>
							<li><img src="images/d/w2.jpg" /></li>
							<li><img src="images/d/w3.jpg" /></li>
							<li><img src="images/d/w4.jpg" /></li>    
							<li><img src="images/d/w5.jpg" /></li>
							<li><img src="images/d/w6.jpg" /></li>
							<li><img src="images/d/w7.jpg" /></li>
							<li><img src="images/d/w8.jpg" /></li>
						</ul>
					</div>
					<div onclick="return false" href="" class="lof-next">Next</div>
				</div> 
			</div> 
		</div>
	</div>
	<div class="d_top_r">
		<p class="d_top_price">起拍价：<span>120万</span>
			<button class="brn_small" data-toggle="modal" data-target="#myModal_calculator" data-dismiss="modal" aria-hidden="true">房贷计算器</button>
		</p>
		<div class="countdown">
			<p id="down1">0天0小时0分0秒</p>
		</div>
<!-- 		<p class="d_top_status">本场拍卖已流拍</p>
		<p class="d_top_status">本场拍卖已抢完</p> -->
		<!-- 这个不一定要 -->
		<p class="d_top_num">房产编号：167276</p>
		<p class="d_top_size">面积：240.79平方米</p>
		<p class="d_top_address">地址：杭州西湖区紫金港湾东区商铺</p>
		<p class="d_top_decorate">装修标准：简装</p>
		<p class="d_top_floor">楼层：5 总楼层：7
			<a href=""> <img src="images/d/taobao.png" class="tao_logo">去淘宝看看</a>
		</p>
		<p class="d_top_tags">特色：<span>办公楼</span><span>地铁房</span><span>一拍</span>
		</p>
		<p class="d_top_two_btn">
			<button data-toggle="modal" data-target="#myModal_loan" data-dismiss="modal" aria-hidden="true">申请贷款</button><button data-toggle="modal" data-target="#myModal_entrust" data-dismiss="modal" aria-hidden="true">委托拍卖</button>
			<!-- <button class="past" disabled="disabled">申请贷款</button> -->
			<!-- 加 past 类变灰色 -->
		</p>
		<div class="tip_status"><p>已流拍</p></div> 
		<!-- <div class="tip_status"><p>已抢完</p></div> -->
		<!-- 红底斜印章标签 -->
	</div>
	<div class="clearfix"></div>
</div>	
<div class="d_mid con11">
	<div class="d_mid_l">
		<h2>拍卖详情</h2>
		<div class="d_short">
			<div class="ll">
				<p>起拍价：120万</p>
				<p>保证金：120万</p>
				<p>成交价：120万</p>
			</div>
			<div class="lr">
				<p>评估价：120万</p>
				<p>加价幅度：120万</p>
				<p>拍卖次数：1</p>
			</div><div class="clearfix"></div>	
		</div>
		<p>拍卖方式：即日起接受咨询。交易采用在线报价方式进行，报价不统一安排场所，报名资料审核已通过且保证金已到账的意向受让方进行报价资格激活后，自行登录产金所网站进行报价。</p>
		<p>联系人：陈小姐</p>
		<p>电话：0571-85085587</p>
		<p>看样时间与方式：2016年7月15日—7月16日上午9:00—下午4:00，在标的所在地展示。</p>
		<p>其他：有意者须在2016年7月19日16时前按规定在线办理报名手续，并以注册用户本人名义交纳100万元交易保证金。自然人必须通过产金所网站进行在线支付交易保证金，目前仅支持杭州银行网银USBkey支付；单位可选择电汇或网银方式交纳交易保证金。交易保证金必须在报名截止前缴入指定账户。</p>
	</div>
	<div class="d_mid_r">
		<h2>专家在线</h2>
		<div class="d_card">			
			<div class="d_card_text">
				<p class="d_card_name">何义平</p>
				<p class="d_card_belong">浙江西湖律师事务所</p>
			</div>
			<div class="d_card_img">
				<img src="images/d/laohe.jpg">
			</div>	<div class="clearfix"></div>		
		</div>		
		<div class="d_ask_title">
			<p>问答记录 <a href="" data-toggle="modal" data-target="#myModal_ask">提问</a>
			<!-- <a href="" class="past">提问</a> -->
			<!-- 若拍品过期，提问按钮不可点击 class="past" 按钮灰色 --></p>
		</div>	
		<!-- <div class="alert alert-danger">本场拍卖已结束，无法提问，请您参考一下历史记录</div> -->
		
		<div class="d_ask">
			<div class="d_ask_card">
				<p class="d_ask_qusetion">你好，这个房子评估价是不是偏贵了？</p>
				<div class="d_ask_answer">
					<p>可以，可以联系抢先拍工作人员，带您去看房可以，可以联系抢先拍工作人员，带您去看房可以，可以联系抢先拍工作人员，带您去看房可以，可以联系抢先拍工作人员，带您去看房</p>
					<p class="d_ask_time">2016-06-26 10:25</p>
					<div class="clearfix"></div>	
				</div>						
			</div>
			<div class="d_ask_card">
				<p class="d_ask_qusetion">你好，这个房子评估价是不是偏贵了？</p>
				<div class="d_ask_answer">
					<p>可以，可以联系抢先拍工作人员，带您去看房可以，可以联系抢先拍工作人员，带您去看房可以，可以联系抢先拍工作人员，带您去看房可以，可以联系抢先拍工作人员，带您去看房</p>
					<p class="d_ask_time">2016-06-26 10:25</p>
					<div class="clearfix"></div>	
				</div>						
			</div>
			<p class="d_ask_more"><a href="">更多</a></p>
		</div>	
	</div>	<div class="clearfix"></div>	
</div>
<div class="d_map con11">
	<h2>周边配套</h2>
	<ul>
	   <li class="active">交通</li>
	   <li>学校</li>
	   <li>医疗</li>
	   <li>商业</li>
	</ul><div class="clearfix"></div>
	<div class="map" style="border:2px solid #e66140;height:404px;width:100%;margin:20px 0">
		<div id="l-map"></div>
		<div id="r-result"></div>	
	</div>
	<table class="dt-table">
		<tbody>
			<tr>
				<td width="99">生活配套</td>
				<td>暂无,阳光城MODO（在建中）、恒生商业广场、金瑟年华商业广场。</td>
			</tr>
			<tr>
				<td width="99">学区配套</td>
				<td>东方世纪学校、福山唐城外国语小学、唐镇中学、唐镇小学、东方幼儿园</td>
			</tr>
			<tr>
				<td width="99">交通出行</td>
				<td>地铁：2号线唐镇站、2号线创新中路站</td>
			</tr>
			<tr>
				<td width="99">医疗配套</td>
				<td>曙光医院东院、浦东新区人民医院、上海安平医院</td>
			</tr>
		</tbody>
	</table>
</div>
<footer class="noprint">
	<ul class="ib sub-nav">
		<li><a target="_self" href="/general-pages/about-us">关于我们</a></li>
		<li class="line" ng-if="!is91Flight">|</li>
		<li><a target="_self" href="/general-pages/partners">合作伙伴</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/business-cooperation">商务合作</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/join-us" >加入我们</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/contact-us">联系我们</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/service-protocol">服务声明</a></li>
	</ul>
	<ul class="ib im">
		<li class="wechat-con"><a href="javscript:void(0);" onMouseOut="hideImg()"  onmouseover="showImg()">微信</a><div class="wechat"></div></li>
		<li class="sina"><a href="http://weibo.com/qiangxianpai?refer_flag=1001030101_" target="_blank">新浪微博</a></li>
		<li class="taobao" ng-if="!is91Flight"><a href="https://shop143101383.taobao.com/index.htm?spm=2013.1.w5002-14693851524.2.TSpzsC" target="_blank">淘宝</a></li>
	</ul>
	<p>抢先拍@2016 All rights reserved | 增值电信业务经营许可证:浙B2-20160073<br>
		浙ICP备15018503号 | <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010502002186" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;color:#fff;"><img src="images/public/ghs.png" style="float:left;"/>&nbsp;浙公网安备 33010502002186号</a></p>
</footer>
<!-- 二维码显隐 -->
<script type="text/javascript">
function  showImg(){
	$(".wechat").css("display","block");
}
function hideImg(){
	$(".wechat").css("display","none");
}
</script>
<!-- 倒计时 -->
<script language="javascript" type="text/javascript"> 
var interval = 1000; 
function ShowCountDown(year,month,day,divname) { 
	var now = new Date(); 
	var endDate = new Date(year, month-1, day); 
	var leftTime=endDate.getTime()-now.getTime(); 
	var leftsecond = parseInt(leftTime/1000); 
	var day1=Math.floor(leftsecond/(60*60*24)); 
	var hour=Math.floor((leftsecond-day1*24*60*60)/3600); 
	var minute=Math.floor((leftsecond-day1*24*60*60-hour*3600)/60); 
	var second=Math.floor(leftsecond-day1*24*60*60-hour*3600-minute*60); 
	var cc = document.getElementById(divname); 
	cc.innerHTML = "倒计时：<span>"+day1+"</span>天<span>"+hour+"</span>小时<span>"+minute+"</span>分<span>"+second+"</span>秒";
} 
window.setInterval(function(){ShowCountDown(2018,4,20,'down1');}, interval); 
</script> 	
<script type="text/javascript">
$(document).ready( function(){	
	var buttons = { 
		previous:$('#lofslidecontent45 .lof-previous') ,
			next:$('#lofslidecontent45 .lof-next') 
	};					
	$obj = $('#lofslidecontent45').lofJSidernews({ 
		interval        : 4000,
		direction		: 'opacitys',	
		easing			: 'easeInOutExpo',
		duration		: 1200,
		auto		 	: false,
		maxItemDisplay  : 5,
		navPosition     : 'horizontal', // 头部图片展示
		navigatorHeight : 62,
		navigatorWidth  : 82,
		mainWidth       : 500,
		buttons			: buttons
	});	
});
</script>
<script type="text/javascript">		
	index = $('.d_map ul li.active').text();
	showmap();
	$(".d_map ul li").click(function(){		
		$(this).addClass("active").siblings().removeClass("active");
		index = $('.d_map ul li.active').text();
		showmap();
	})	
	function showmap(){
		var map = new BMap.Map("l-map");            // 创建Map实例
		map.centerAndZoom(new BMap.Point(116.404, 39.915),11);
		var myKeys = [index];
		var local = new BMap.LocalSearch(map, {
			renderOptions:{map: map, panel:"r-result"},
			pageCapacity:10
		});
		local.searchInBounds(myKeys, map.getBounds());		
	}
</script>





<!-- 登录-模态框（Modal） -->
<div class="modal fade" id="myModal_login" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
	  <div class="modal-content">
		 <div class="modal-header">
			<button type="button" class="close" 
			   data-dismiss="modal" aria-hidden="true">
				  &times;
			</button>
			<h4 class="modal-title" id="myModalLabel">欢迎登录抢先拍</h4>
		 </div>
		 <div class="modal-body">		 
			<p class="modal_logo"><img src="images/public/logom.jpg"/></p>
			<form>
				<input type="text" placeholder="手机号">
				<input type="text" placeholder="密码">
				<p><input type="checkbox">下次自动登录  <a class="forgetpwd" href="" data-toggle="modal" data-target="#myModal_findpaw"  data-dismiss="modal" aria-hidden="true">忘记密码？</a></p>
				<input type="submit" value="立即登录">	
				<p>还没有账户？ <a href="" data-toggle="modal" data-target="#myModal_reg" data-dismiss="modal" aria-hidden="true">立即注册</a></p>
			</form>
		 </div>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>



<!-- 注册-模态框（Modal） -->
<div class="modal fade" id="myModal_reg" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
	  <div class="modal-content">
		 <div class="modal-header">
			<button type="button" class="close" 
			   data-dismiss="modal" aria-hidden="true">
				  &times;
			</button>
			<h4 class="modal-title" id="myModalLabel">注册</h4>
		 </div>
		 <div class="modal-body">
			<p class="modal_logo"><img src="images/public/logom.jpg"/></p>
			<form>
				<input type="text" placeholder="手机号" id="phone">
				<input type="text" placeholder="手机验证码" class="verification"><input type="button" value="立刻获取" class="getcode" id="btnSendCode" onclick="sendMessage()" >
				<input type="text" placeholder="密码">
				<input type="text" placeholder="再次输入密码">
				<p class="agree-warp">
					<label class="user-xieyi">
						<input type="checkbox" name="tongyi" checked="" class="checkbox">已阅读并同意<a id="xieyi" data-toggle="modal" data-target="#myModal_xieyi" data-dismiss="modal" aria-hidden="true">《用户使用协议》</a>
					</label>
				</p>
				<input type="submit" value="注册">	
				<p>已有账户？ <a href="" data-toggle="modal" data-target="#myModal_login"  data-dismiss="modal" aria-hidden="true">立即登录</a></p>				
			</form>
		 </div>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<!-- 忘记密码-模态框（Modal） -->
<div class="modal fade" id="myModal_findpaw" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
	  <div class="modal-content">
		 <div class="modal-header">
			<button type="button" class="close" 
			   data-dismiss="modal" aria-hidden="true">
				  &times;
			</button>
			<h4 class="modal-title" id="myModalLabel">重置密码</h4>
		 </div>
		 <div class="modal-body">
			<p class="modal_logo"><img src="images/public/logom.jpg"/></p>
			<form>
				<input type="text" placeholder="手机号">
				<input type="text" placeholder="手机验证码" class="verification"><input type="button" value="立刻获取" class="getcode" onclick="sendMessage()"  id="btnSendCode2" >
				<input type="text" placeholder="输入新密码">
				<input type="submit" value="确认修改">	
			</form>
		 </div>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<!-- 用户使用协议-模态框（Modal） -->
<div class="modal fade" id="myModal_xieyi" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
	  <div class="modal-content">
		 <div class="modal-header">
			<button type="button" class="close" 
			   data-dismiss="modal" aria-hidden="true">
				  &times;
			</button>
			<h4 class="modal-title" id="myModalLabel">用户使用协议</h4>
		 </div>
		 <div class="modal-body">
		    <p class="modal_logo"><img src="images/public/logom.jpg"/></p>
			<p>一、抢先拍服务条款的接受 </p>
			<p>1.通过完成抢先拍注册程序，用户便表明其接受了本服务协议的条款，并同意受本服务协议的约束。</p>
			<p>2.用户保证其提交的信息真实、准确、及时和完整。</p>
			<p>3.本服务协议所称的用户是指完全同意所有条款(以下简称“服务条款”)并完成注册程序的服务接受者。</p>
			<p>二、服务条款的变更和修改</p>
			<p>1.抢先拍保留依其自主判断在将来的任何时间变更、修改、增加或删除本服务协议条款的权利。所有修改的协议均构成本服务协议的一部分。</p>
			<p>2.抢先拍有权随时对服务条款进行修改，一旦发生服务条款的变动，抢先拍将提示修改的内容。</p>
			<p>3.当用户使用抢先拍的特殊服务时，应接受抢先拍随时提供的与该特殊服务相关的规则或说明，并且此规则或说明均构成本服务条款的一部分。</p>
			<p>4.用户如果不同意服务条款的修改，可以主动取消已经获得的网络服务；如果用户继续享用网络服务，则视为用户已经接受服务条款的修改。</p>
			<p> 三、用户资格的规定</p>
			<p>只有符合下列条件之一的自然人或法人才能申请成为抢先拍用户，可以使用抢先拍的服务：</p>
			<p>1.年满十八周岁，并具有民事权利能力和民事行为能力的自然人。</p>
			<p>2.无民事行为能力人或限制民事行为能力人应经过其监护人的同意。</p>
			<p>四、用户隐私权</p>
			<p>1.当用户注册抢先拍的服务时，用户须提供个人信息。抢先拍收集个人信息的目的是为用户提供尽可能多的个人化网上服务以及为广告商提供一个方便的途径来接触到适合的用户，并且可以发送相关的信息和广告。在此过程中，广告商绝对不会接触到用户的个人信息。</p>
			<p> 2.抢先拍不会在未经合法用户授权时，公开、编辑或透露其个人信息及保存在抢先拍中的非公开内容，除非有下列情况：</p>
			<p> (1).有关法律规定或抢先拍合法服务程序规定； </p>
			<p>(2).在紧急情况下，为维护用户及公众的权益； </p>
			<p>(3).为维护抢先拍的合法权益； </p>
			<p>(4).其他需要公开、编辑或透露个人信息的情况。 </p>
			<p>3.在以下(包括但不限于)几种情况下，抢先拍有权使用用户的个人信息： </p>
			<p>(1).在进行促销或抽奖时，抢先拍可能会与赞助商共享用户的个人信息，在这些情况下抢先拍会在发送用户信息之前进行提示，并且用户可以通过不参与来终止传送过程。 </p>
			<p>(2).抢先拍可以将用户信息与第三方数据匹配。 </p>
			<p>(3).抢先拍会通过透露合计用户统计数据，向未来的合作伙伴、广告商及其他第三方以及为了其他合法目的而描述抢先拍的服务。 </p>
			<p>4.抢先拍会向用户发送客户订制的信息或者抢先拍认为用户会感兴趣的其他信息。如果用户不希望收到这样的信息，只需在提供个人信息时或其他任何时候告知即可。</p>
			<p>5.抢先拍会采取行业惯用措施保护用户信息的安全，但抢先拍不能确信或保证任何个人信息的完全安全性，用户须自己承担风险。</p>
			<p>6.用户同意并认可，因用户自身或第三方的行为导致用户信息的披露，比如用户联机公布可被公众访问的个人信息时，用户有可能会收到未经用户同意的信息；抢先拍的合作伙伴和可通过抢先拍访问的第三方因特网站点和服务；通过抽奖、促销等活动得知用户个人信息的第三方会进行独立的数据收集工作等活动。抢先拍对用户及其他任何第三方的上述行为，不承担任何责任。</p>
			<p>五、用户账号、密码和安全</p>
			<p>1.用户一旦注册成功，便成为抢先拍的合法用户，将得到一个密码和帐号。用户有义务保证密码和帐号的安全。用户对利用该密码和帐号所进行的一切活动负全部责任；因此所衍生的任何损失或损害，抢先拍无法也不承担任何责任。</p><p>
			2.用户的密码和帐号遭到未授权的使用或发生其他任何安全问题，用户可以立即通知抢先拍，并且用户在每次连线结束，应结束帐号使用，否则用户可能得不到抢先拍的安全保护。 </p>
			<p>六、用户信息的存储与限制</p>
			<p>1.抢先拍不对用户所发布信息的删除或储存失败负责。抢先拍并不承诺对用户的存储信息进行无限期保留。除非本协议中另有规定，否则抢先拍不保证服务一定会满足用户的使用要求，也不保证服务不会受中断，对服务的及时性、安全性、准确性也不作担保。</p>
			<p>2.抢先拍有判定用户的行为是否符合抢先拍服务条款的要求和精神的保留权利，如果用户违背了服务条款的规定，抢先拍有中断对其提供网络服务的权利。</p>
			<p>七、免责声明</p>
			<p>1.抢先拍不保证所有信息、文本、图形、链接及其它项目的绝对准确性和完整性，故仅供访问者参照使用。其中政策法规中文本不得作为正式法规文本使用。</p>
			<p>2.用户明确同意其使用本站网络服务所存在的风险及一切后果将完全由用户本人承担，抢先拍对此不承担任何责任。 </p>
			<p>3.如果单位或个人认为本网站某部分内容有侵权嫌疑，敬请立即通知我们，我们将第一时间予以更该或删除。本网站并不承担查清事情的责任和证实事情公正性和合法性的责任，同时在事情查清前保留对该部分内容继续刊载的权利。</p>
			<p>4.本服务可能会提供与其他国际互联网网站或资源进行链接。对于前述网站或资源是否可以利用，抢先拍不予担保。因使用或依赖上述网站或资源所产生的损失或损害，抢先拍也不承担任何责任。</p>
			<p>5.对于因不可抗力或本站不能控制的原因造成的网络服务中断或其它缺陷，本站不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。</p>
			<p>6.对于站向用户提供的下列产品或者服务的质量缺陷本身及其引发的任何损失，本站无需承担任何责任：</p>
			<p>(1)本站向用户免费提供的各项网络服务；</p>
			<p>(2)本站向用户赠送的任何产品或者服务。</p>
			<p>7.本站有权于任何时间暂时或永久修改或终止本服务(或其任何部分)，而无论其通知与否，本站对用户和任何第三人均无需承担任何责任。</p>
			<p>八、法律的管辖和适用</p>
			<p>1.本协议的订立、执行和解释及争议的解决均应适用中国法律。</p>
			<p>2.如发生本站服务条款与中国法律相抵触时，则这些条款将完全按法律规定重新解释，而其它合法条款则依旧保持对注册会员产生法律效力和影响。</p>
			<p>3.本协议的规定是可分割的，如本协议任何规定被裁定为无效或不可执行，该规定可被删除而其余条款应予以执行。</p>
			<p>4.如双方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向本站所在地的人民法院提起诉讼。</p>
			<p>九、其他规定</p>
			<p>1.抢先拍对本服务协议包括基于本服务协议制定的各项规则拥有最终解释权。</p>
			<p>2.本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律。</p>
			<p>3.如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。</p>								
		 </div>
		 <div class="modal-footer">
			<button type="button" class="btn" data-toggle="modal" data-target="#myModal_reg" data-dismiss="modal" aria-hidden="true">
			   返回注册
			</button>
		 </div>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>	

<!-- 房贷计算器-模态框（Modal） -->
<div class="modal fade" id="myModal_calculator" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
	  <div class="modal-content">
		 <div class="modal-body">		 
			<div class="calculator_inputs">							
				<form>
					<div style="width:83%;float:left">
						<h2>房贷计算器</h2>	
						<p>房屋总额：<input type="text" id="h_price" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')"> 万元</p>
						<p>贷款总额：<input type="text" id="l_price"></p>
						<p>贷款期限：<select id="time">
										<option name="time" value="30">30天</option>
										<option name="time" value="60">60天</option>
										<option name="time" value="90">90天</option>
						</select></p>					
						<p>贷款利率：<input type="text" id="rate" value="0.05%" readOnly="true"></p>						
					</div>
					<div class="calculator_btn">				
						<input type="button" value="开始计算" class="count" id="count"/>	
					</div>					
				</form>	
			</div>			
			<div class="calculator_show">
				<h2>房贷计算器</h2>	
				<div>
					<p><span class="show_name">支付利息：</span><span id="interest">0.00</span>万元</p>
					<p><span class="show_name">贷款金额：</span><span id="loanamount">0.00</span>万元</p>
					<p><span class="show_name">贷款手续费：</span><span id="poundage">0.00</span>万元</p>					
					<p><span class="show_name">预审核费用：</span><span id="audit">0.00</span>万元</p>					
					<p><span class="show_name">费用合计：</span><span id="all">0.00</span>万元</p>					
				</div>
			</div>			
			<div class="clearfix"></div>	
		 </div>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<script type="text/javascript"> //房贷计算器 
$("#count").click(function(event){
    var h_price = parseFloat($("#h_price").val());
    var h_price_7= h_price*0.7;	
    var l_price = parseFloat($("#l_price").val());	
    var time = $("#time").val();		
    var rate = parseFloat($("#rate").val());
    var loanamount = l_price;
    var poundage = l_price*0.01;   
	var audit = 0;
	var interest = 0;
	if (l_price>h_price_7){
		alert("贷款总额应为房屋总额的70%以下！")
	}else{
		var time = $("#time").val();
		switch (time)
		{
		case '30':
		  interest = l_price/10000*5*30;	
		  break;
		case '60':
		  interest = l_price/10000*5*60;	
		  break;
		case '90':
		  interest = (l_price/10000*5*60) + (l_price/1000*2*30);	
		  break;
		}				
		var all = l_price + interest + poundage;	
		$("#interest").text(interest);
		$("#loanamount").text(loanamount);
		$("#poundage").text(poundage);
		$("#audit").text(audit);
		$("#all").text(all);
	}
}) 
</script>	

<!-- 申请贷款-模态框（Modal） -->
<div class="modal fade" id="myModal_loan" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
	  <div class="modal-content">
		 <div class="modal-header">
			<button type="button" class="close" 
			   data-dismiss="modal" aria-hidden="true">
				  &times;
			</button>
			<h4 class="modal-title" id="myModalLabel">申请贷款</h4>
		 </div>
		 <div class="modal-body">		 
			<p class="process"><span>在线申请</span><span class="glyphicon glyphicon-chevron-right"></span><span>资料提交</span><span class="glyphicon glyphicon-chevron-right"></span><span>提交审核</span><span class="glyphicon glyphicon-chevron-right"></span><span>面签协议</span><span class="glyphicon glyphicon-chevron-right"></span><span>申请成功</span></p>
			<div class="conditions">
				<h2>申请条件</h2>				
				<p>1.22-60周岁</p>
				<p>2.税前收入人民币3000及以上</p>
				<p>3.在现单位工作满6个月</p>
				<p>4.有征信且无不良记录</p>
				<p>5.排除限制类行业</p>
			</div>			
			<div class="loan_form">
				<p class="modal_logo"><img src="images/public/logom.jpg"/></p>
				<form>
					<p>申请金额：<input type="text"></p>
					<p>真实姓名：<input type="text"></p>
					<p>手机号码：<input type="text"></p>					
					<input type="submit" value="立即申请"  data-toggle="modal" data-target="#myModal_reg" data-dismiss="modal" aria-hidden="true">						
				</form>						
			</div><div class="clearfix"></div>			
		 </div>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<!-- 委托拍卖-模态框（Modal） -->
<div class="modal fade" id="myModal_entrust" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
	  <div class="modal-content">
		 <div class="modal-body">		 
			<p>请拨打我们的免费服务热线：400-060-2595，客服人员马上为您服务</p>
		 </div>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<!-- 律师解答-模态框（Modal） -->
<div class="modal fade" id="myModal_ask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
	  <div class="modal-content">
		 <div class="modal-header">
			<button type="button" class="close" 
			   data-dismiss="modal" aria-hidden="true">
				  &times;
			</button>
			<h4 class="modal-title" id="myModalLabel">律师解答</h4>
		 </div>
		 <div class="modal-body">		 
			<div class="d_card">				
				<div class="d_card_img">
					<img src="images/d/laohe.jpg">
				</div>
				<div class="d_card_text">
					<p class="d_card_name">何义平</p>
					<p class="d_card_belong">浙江西湖律师事务所</p>
				</div>
				<div class="d_card_answer">
					<p class="d_card_ask"><span>5</span>个回答</p>
				</div><div class="clearfix"></div>		
			</div>	
			<div class="ask_box">
				<form>
					<textarea rows="5" cols="60"></textarea>
					<input type="submit" value="提问"></input>
				</form>				
			</div>			
		 </div>
	  </div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<script type="text/javascript">  
/*----------手机验证码-------手机验证码---------*/  
var InterValObj; //timer变量，控制时间  
var count = 10; //间隔函数，1秒执行  
var curCount;//当前剩余秒数  
var code = ""; //验证码  
var codeLength = 6;//验证码长度  
function sendMessage() {  
    curCount = count;  
    var phone=$("#phone").val();//手机号码  	
	if(!(/^1[3|4|5|7|8]\d{9}$/.test(phone))){ 
        alert("请输入正确的手机号");  
    }else{
        //产生验证码  
        for (var i = 0; i < codeLength; i++) {  
            code += parseInt(Math.random() * 9).toString();  
        }  
        //设置button效果，开始计时  
        $("#btnSendCode").attr("disabled", "true");  
        $("#btnSendCode").val(curCount + "秒");  
        InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次  
	}  
}  
//timer处理函数  
function SetRemainTime() {  
    if (curCount == 0) {                  
        window.clearInterval(InterValObj);//停止计时器  
        $("#btnSendCode").removeAttr("disabled");//启用按钮  
        $("#btnSendCode").val("重新发送");  
        code = ""; //清除验证码。如果不清除，过时间后，输入收到的验证码依然有效      
    }  
    else {  
        curCount--;  
        $("#btnSendCode").val(curCount + "秒");  
    }  
}  
</script>  


</body>
</html>


