<!DOCTYPE html>
<html>
<head>
	<title>尾房详情页 - 抢先拍</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">	
	<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script> 	
	<!-- 头部图片展示 -->
	<script language="javascript" type="text/javascript" src="js/jquery.easing.js"></script>
	<script language="javascript" type="text/javascript" src="js/script.js"></script>
	<script src="http://api.map.baidu.com/api?v=2.0&ak=Qi5AthdE9qmY8XtzN7f5iZri2IztigdY"></script>
	<!-- 头部图片展示 -->
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/public.css" rel="stylesheet">
	<link href="css/d.css" rel="stylesheet">
	<style type="text/css">
		#allmap {width: 100%;height: 100%; margin:0;font-family:"微软雅黑";}
		#l-map{height:400px;width:80%;float:left;}
		#r-result{width:20%;float:left;max-height:400px;overflow-y:scroll}
	</style>
</head>
<body>	
	<!-- 头部开始 -->
	<div id="header">	
		<div class="con12">
			<div id="top">
				<div class="header3_logo"></div>
				<div id="nav">
					<nav class="navbar navbar-default" role="navigation">
					   <div class="navbar-header">
						  <button type="button" class="navbar-toggle" data-toggle="collapse" 
							 data-target="#example-navbar-collapse">
							 <span class="sr-only">切换导航</span>
							 <span class="icon-bar"></span>
							 <span class="icon-bar"></span>
							 <span class="icon-bar"></span>
						  </button>
					   </div>
					   <div class="collapse navbar-collapse" id="example-navbar-collapse">
						  <ul class="nav navbar-nav">
							 <li><a href="index.html">首页</a></li>
							 <li class="active"><a href="houselist.html">房屋列表</a></li>
							 <li><a href="newslist.html">资讯信息</a></li>
							 <li><a href="videolist.html">视频中心</a></li>
							 <li><a href="about.html">关于我们</a></li>
						  </ul>
					   </div>
					</nav>
				</div>
				<div id="other">
					<p><a data-toggle="modal" data-target="#myModal_login">登录</a></p>	
					<p><span style="margin:0 10px">|</span></p>	
					<p><a data-toggle="modal" data-target="#myModal_reg">注册</a></p>
				</div>								
				<div class="clearfix"></div>
			</div>
		</div>	
	</div>	
	<!-- 头部结束 -->
	<div class="subhead">
		<div class="con12">

			<div class="subhead_search">
				<div class="search-sort-con">
					<form class="search-form clearfix">
						<input class="txt" type="text" id="keyword" name="keyword" placeholder="请输入小区、商圈名称">
						<input type="btn" class="btn">
					</form>
				</div>
			</div>
			<div class="clearfix"></div>	
		</div>
	</div>

<div class="d_top con11">
	<h2>浦发罗兰翡丽浦发罗兰翡丽浦发罗兰翡丽浦发罗兰翡丽</h2>
	<div class="d_top_l">
		<div id="container">
			<div id="lofslidecontent45" class="lof-slidecontent">
			<div class="preload"><div></div></div>
			<div class="lof-main-outer">
			<ul class="lof-main-wapper">
				<li><img src="images/d/w1.jpg" title=""></li> 
				<li><img src="images/d/w2.jpg" title=""></li> 
				<li><img src="images/d/w3.jpg" title=""></li> 
				<li><img src="images/d/w4.jpg" title=""> </li> 
				<li><img src="images/d/w5.jpg" title=""></li> 
				<li><img src="images/d/w6.jpg" title=""> </li> 
				<li><img src="images/d/w7.jpg" title=""> </li> 
				<li><img src="images/d/w8.jpg" title=""> </li> 
			</ul>  	
			</div>
				<div class="lof-navigator-wapper">
					<div onclick="return false" href="" class="lof-previous">Previous</div>			
					<div class="lof-navigator-outer">
						<ul class="lof-navigator">
							<li><img src="images/d/w1.jpg" /></li>
							<li><img src="images/d/w2.jpg" /></li>
							<li><img src="images/d/w3.jpg" /></li>
							<li><img src="images/d/w4.jpg" /></li>    
							<li><img src="images/d/w5.jpg" /></li>
							<li><img src="images/d/w6.jpg" /></li>       
							<li><img src="images/d/w7.jpg" /></li>       
							<li><img src="images/d/w8.jpg" /></li>  		
						</ul>
					</div>
					<div onclick="return false" href="" class="lof-next">Next</div>
				</div>			
			</div> 
		</div>
		<div class="countdown2">
			<p id="down1">0天0小时0分0秒</p>
		</div>				
	</div>
	<div class="d_top_r">
		<p class="d_top_dealprice">均价：15900元/平米</p>
		<p class="d_top_type">物业类型：住宅</p>
		<p class="d_top_address">楼盘地址：杭州西湖区紫金港湾东区商铺</p>
		<p class="d_top_main">主力户型：A1户型</p>
		<p class="d_top_show">
			<img src="images/d/star.png" class="star"><span>1000已关注 </span><img src="images/d/boxes.png" class="boxes"><span>库存1000件</span>
		</p>
		<p class="d_top_phone"><span>咨询电话：400-001-5625</span></p>
	</div><div class="clearfix"></div>
</div>	


<div class="d_vouchers con11">
	<div class="d_voucher">
		<div class="d_voucher_l">
			<div class="d_voucher_ll">
				<p>楼盘优惠</p>
			</div>		
			<div class="d_voucher_lr">
				<div class="d_voucher_lrl">
					<p>￥10000元</p>
				</div>
				<div class="d_voucher_lrr">
					<p>现金抵扣券</p>
					<p>使用于90m²</p>
				</div>				
			</div><div class="clearfix"></div>			
		</div>
		<div class="d_voucher_r">
			<p class="d_voucher_price">1000元</p>
			<p class="d_voucher_btn"><span>马上抢</span></p>
		</div><div class="clearfix"></div>
	</div>
	<div class="d_voucher">
		<div class="d_voucher_l">
			<div class="d_voucher_ll">
				<p>楼盘优惠</p>
			</div>		
			<div class="d_voucher_lr">
				<div class="d_voucher_lrl">
					<p>￥10000元</p>
				</div>
				<div class="d_voucher_lrr">
					<p>现金抵扣券</p>
					<p>使用于90m²</p>
				</div>				
			</div><div class="clearfix"></div>			
		</div>
		<div class="d_voucher_r">
			<p class="d_voucher_price">1000元</p>
			<p class="d_voucher_btn"><span>马上抢</span></p>
		</div><div class="clearfix"></div>
	</div>	
	<div class="d_voucher">
		<div class="d_voucher_l">
			<div class="d_voucher_ll">
				<p>楼盘优惠</p>
			</div>		
			<div class="d_voucher_lr">
				<div class="d_voucher_lrl">
					<p>￥10000元</p>
				</div>
				<div class="d_voucher_lrr">
					<p>现金抵扣券</p>
					<p>使用于90m²</p>
				</div>				
			</div><div class="clearfix"></div>			
		</div>
		<div class="d_voucher_r">
			<p class="d_voucher_price">1000元</p>
			<p class="d_voucher_btn"><span>马上抢</span></p>
		</div><div class="clearfix"></div>
	</div>		
</div>

<div class="d_rule con11">
	<h2>活动规则</h2>
	<p>规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则活动规则</p>
</div>
<div class="d_models con11">
	<h2>楼盘户型</h2>
	<ul id="d_models_con">
		<li>
			<div class="d_model">
				<div class="d_model_img">
					<img src="images/d/boxes.png" class="boxes">
				</div>	
				<div class="d_model_text">
					<p>D3户型   1室2厅1卫  59平米   约100万</p>
					<p>装修情况：毛坯得房率：80%</p>
					<p>目前仅剩：15-2-301，15-5-502,15-7-701,3套房在售</p>
					<p>推荐理由：L型厨房，流畅动线布局；直接赠送一个卧室，多一房从容；南向挑高大阳台和飘窗...</p>		
				</div><div class="clearfix"></div>			
			</div>				
		</li>
		<li>
			<div class="d_model">
				<div class="d_model_img">
					<img src="images/d/boxes.png" class="boxes">
				</div>	
				<div class="d_model_text">
					<p>D3户型   1室2厅1卫  59平米   约100万</p>
					<p>装修情况：毛坯得房率：80%</p>
					<p>目前仅剩：15-2-301，15-5-502,15-7-701,3套房在售</p>
					<p>推荐理由：L型厨房，流畅动线布局；直接赠送一个卧室，多一房从容；南向挑高大阳台和飘窗...</p>		
				</div><div class="clearfix"></div>			
			</div>				
		</li>	
		<li>
			<div class="d_model">
				<div class="d_model_img">
					<img src="images/d/boxes.png" class="boxes">
				</div>	
				<div class="d_model_text">
					<p>D3户型   1室2厅1卫  59平米   约100万</p>
					<p>装修情况：毛坯得房率：80%</p>
					<p>目前仅剩：15-2-301，15-5-502,15-7-701,3套房在售</p>
					<p>推荐理由：L型厨房，流畅动线布局；直接赠送一个卧室，多一房从容；南向挑高大阳台和飘窗...</p>		
				</div><div class="clearfix"></div>			
			</div>				
		</li>
		<li>
			<div class="d_model">
				<div class="d_model_img">
					<img src="images/d/boxes.png" class="boxes">
				</div>	
				<div class="d_model_text">
					<p>D3户型   1室2厅1卫  59平米   约100万</p>
					<p>装修情况：毛坯得房率：80%</p>
					<p>目前仅剩：15-2-301，15-5-502,15-7-701,3套房在售</p>
					<p>推荐理由：L型厨房，流畅动线布局；直接赠送一个卧室，多一房从容；南向挑高大阳台和飘窗...</p>		
				</div><div class="clearfix"></div>			
			</div>				
		</li>				
	</ul>
	<p ><a id="more_model">查看更多户型<img src="images/d/down_r1.png" class="boxes"></a></p> 
</div>
<script>
$(function(){
	var h1 = $("#d_models_con").height();
	var h2 = 900;	
	if( h1 < h2){
		$("#more_model").css("display","none");
	}else{
		$("#more_model").css("display","block");
	}
    $("#more_model").click(function(){
		if( h1 == h2){
			$("#d_models_con").css("max-height","none");
			h1=901;
		}
		else{
			$("#d_models_con").css("max-height","900px");
			h1=900;
		}		
    });
});
</script>







<div class="d_lp con11">
	<div class="d_lp_l">
		<p><span>楼盘名称</span>宝嘉誉府</p>
		<p><span>均价</span>15000 元/m² </p>
		<p><span>物业类型</span>住宅</p>
		<p><span>开盘时间</span>2016-06-30 </p>
		<p><span>交房时间</span>2013-06-30</p>
		<p><span>开发商</span>浙江景房地产有限公司</p>
		<p><span>区域位置</span>萧山- 钱江世纪城</p>
		<p><span>楼盘地址</span>通惠北路118号(通惠北路、振宁路路口) [查看地图]:
		</p>
	</div>
	<div class="d_lp_r">
		<p><span>产权年限</span>70年</p>
		<p><span>绿化率</span>30%</p>
		<p><span>容积率</span>40%</p>
		<p><span>规划数</span>612户</p>
		<p><span>车位数</span>500</p>
		<p><span>物业公司</span>高力物业</p>
		<p><span>售楼处</span>江干区形成大厦45号</p>
	</div><div class="clearfix"></div>	
</div>
<div class="d_map con11">
	<h2>周边配套</h2>
	<ul>
	   <li class="active">交通</li>
	   <li></li>
	   <li>医疗</li>
	   <li>商业</li>
	</ul><div class="clearfix"></div>
	<div style="border:2px solid #e66140;height:404px;width:100%;margin:20px 0">
		<div id="l-map"></div>
		<div id="r-result"></div>	
	</div>
	<table class="dt-table">
		<tbody>
			<tr>
				<td width="99">生活配套</td>
				<td>暂无,阳光城MODO（在建中）、恒生商业广场、金瑟年华商业广场。</td>
			</tr>
			<tr>
				<td width="99">学区配套</td>
				<td>东方世纪学校、福山唐城外国语小学、唐镇中学、唐镇小学、东方幼儿园</td>
			</tr>
			<tr>
				<td width="99">交通出行</td>
				<td>地铁：2号线唐镇站、2号线创新中路站</td>
			</tr>
			<tr>
				<td width="99">医疗配套</td>
				<td>曙光医院东院、浦东新区人民医院、上海安平医院</td>
			</tr>
		</tbody>
	</table>
</div>
<footer class="noprint">
	<ul class="ib sub-nav">
		<li><a target="_self" href="/general-pages/about-us">关于我们</a></li>
		<li class="line" ng-if="!is91Flight">|</li>
		<li><a target="_self" href="/general-pages/partners">合作伙伴</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/business-cooperation">商务合作</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/join-us" >加入我们</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/contact-us">联系我们</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/service-protocol">服务声明</a></li>
	</ul>
	<ul class="ib im">
		<li class="wechat-con"><a href="javscript:void(0);" onMouseOut="hideImg()"  onmouseover="showImg()">微信</a><div class="wechat"></div></li>
		<li class="sina"><a href="http://weibo.com/qiangxianpai?refer_flag=1001030101_" target="_blank">新浪微博</a></li>
		<li class="taobao" ng-if="!is91Flight"><a href="https://shop143101383.taobao.com/index.htm?spm=2013.1.w5002-14693851524.2.TSpzsC" target="_blank">淘宝</a></li>
	</ul>
	<p>抢先拍@2016 All rights reserved | 增值电信业务经营许可证:浙B2-20160073<br>
		浙ICP备15018503号 | <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010502002186" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;color:#fff;"><img src="images/public/ghs.png" style="float:left;"/>&nbsp;浙公网安备 33010502002186号</a></p>
</footer>
<!-- 二维码显隐 -->
<script type="text/javascript">
function  showImg(){
	$(".wechat").css("display","block");
}
function hideImg(){
	$(".wechat").css("display","none");
}
</script>

<script language="javascript" type="text/javascript"> 
var interval = 1000; 
function ShowCountDown(year,month,day,divname){ 
	var now = new Date(); 
	var endDate = new Date(year, month-1, day); 
	var leftTime=endDate.getTime()-now.getTime(); 
	var leftsecond = parseInt(leftTime/1000); 
	//倒计时
	var day1=Math.floor(leftsecond/(60*60*24)); 
	var hour=Math.floor((leftsecond-day1*24*60*60)/3600); 
	var minute=Math.floor((leftsecond-day1*24*60*60-hour*3600)/60); 
	var second=Math.floor(leftsecond-day1*24*60*60-hour*3600-minute*60); 
	var cc = document.getElementById(divname); 
	cc.innerHTML = "距抢购结束还剩：<span class='day'>"+day1+"</span>天<span class='hour'>"+hour+"</span>小时<span class='minute'>"+minute+"</span>分<span class='second'>"+second+"</span>秒"; 
} 
window.setInterval(function(){ShowCountDown(2018,4,20,'down1');}, interval); 
</script> 	
<script type="text/javascript">
$(document).ready( function(){	
	var buttons = { 
		previous:$('#lofslidecontent45 .lof-previous') ,
			next:$('#lofslidecontent45 .lof-next') 
	};					
	$obj = $('#lofslidecontent45').lofJSidernews({ 
		interval        : 4000,
		direction		: 'opacitys',	
		easing			: 'easeInOutExpo',
		duration		: 1200,
		auto		 	: false,
		maxItemDisplay  : 5,
		navPosition     : 'horizontal', // 头部图片展示
		navigatorHeight : 62,
		navigatorWidth  : 85,
		mainWidth       : 560,
		buttons			: buttons
	});	
});
</script>
<script type="text/javascript">				
	$(".d_map ul li").click(function(){
		$(this).addClass("active").siblings().removeClass("active");					 
	})
	// 百度地图API功能
	var map = new BMap.Map("l-map");            // 创建Map实例
	map.centerAndZoom(new BMap.Point(116.404, 39.915),11);
	var myKeys = ["交通"];
	var local = new BMap.LocalSearch(map, {
		renderOptions:{map: map, panel:"r-result"},
		pageCapacity:5
	});
	local.searchInBounds(myKeys, map.getBounds());
</script>

</body>
</html>


