<!DOCTYPE html>
<html>
<head>
	<title>房屋列表 - 抢先拍</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/public.css" rel="stylesheet">
	<link href="css/h.css" rel="stylesheet">
</head>
<body>	
	<!-- 头部开始 -->
	<div id="header">	
		<div class="con12">
			<div id="top">
				<div class="header3_logo"></div>
				<div id="nav">
					<nav class="navbar navbar-default" role="navigation">
					   <div class="navbar-header">
						  <button type="button" class="navbar-toggle" data-toggle="collapse" 
							 data-target="#example-navbar-collapse">
							 <span class="sr-only">切换导航</span>
							 <span class="icon-bar"></span>
							 <span class="icon-bar"></span>
							 <span class="icon-bar"></span>
						  </button>
					   </div>
					   <div class="collapse navbar-collapse" id="example-navbar-collapse">
						  <ul class="nav navbar-nav">
							 <li><a href="index.html">首页</a></li>
							 <li class="active"><a href="houselist.html">房屋列表</a></li>
							 <li><a href="newslist.html">资讯信息</a></li>
							 <li><a href="videolist.html">视频中心</a></li>
							 <li><a href="about.html">关于我们</a></li>
						  </ul>
					   </div>
					</nav>
				</div>
				<div id="other">
					<p><a data-toggle="modal" data-target="#myModal_login">登录</a></p>	
					<p><span style="margin:0 10px">|</span></p>	
					<p><a data-toggle="modal" data-target="#myModal_reg">注册</a></p>
				</div>		
		
				<div class="clearfix"></div>
			</div>
		</div>	
	</div>	
	<!-- 头部结束 -->
	<div class="subhead">
		<div class="con12">
		
			<div class="subhead_city">
				<dl class="selectd listIndex">
					<dt>不限</dt>
					<dd>
						<ul class="">
							<li><a href="javascript:void(0);">安徽</a></li>
							<li><a href="javascript:void(0);">北京</a></li>
							<li><a href="javascript:void(0);">重庆</a></li>
							<li><a href="javascript:void(0);">福建</a></li>
							<li><a href="javascript:void(0);">广东</a></li>
							<li><a href="javascript:void(0);">广西</a></li>
							<li><a href="javascript:void(0);">河北</a></li>
							<li><a href="javascript:void(0);">河南</a></li>
							<li><a href="javascript:void(0);">黑龙江</a></li>
							<li><a href="javascript:void(0);">吉林</a></li>
							<li><a href="javascript:void(0);">江苏</a></li>
							<li><a href="javascript:void(0);">辽宁</a></li>
							<li><a href="javascript:void(0);">内蒙古</a></li>
							<li><a href="javascript:void(0);">青海</a></li>
							<li><a href="javascript:void(0);">上海</a></li>
							<li><a href="javascript:void(0);">山东</a></li>
							<li><a href="javascript:void(0);">天津</a></li>
							<li><a href="javascript:void(0);">新疆</a></li>
							<li><a href="javascript:void(0);">云南</a></li>
							<li><a href="javascript:void(0);">浙江</a></li>
						</ul>	
					</dd>
				</dl>				
			</div>
			<div class="subhead_search">
				<div class="search-sort-con">
					<form class="search-form clearfix">
						<input class="txt" type="text" id="keyword" name="keyword" placeholder="请输入小区、商圈名称">
						<input type="btn" class="btn">
					</form>
				</div>
			</div>
			<div class="clearfix"></div>	
		</div>
	</div>	
<div style="background:#f8f8f8;padding:10px 0 50px 0">
<div class="wrapper houselists con12">
	<div class="select_com screenBox screenBackground" id="selectList">
		<div class="select select1">
			<h2>房产列表</h2>
			<ul id="myTab" class="nav nav-tabs">
			   <li><a href="h1.html">司法拍卖</a></li>
			   <li class="active"><a href="h2.html">资产直通车</a></li>
			   <li><a href="h3.html">一手特惠房</a></li>
			</ul>	
		</div>
		<div class="demo">	
			<ul class="selects">
				<li class="select-list">
					<dl id="select1">
						<dt>房产区域</dt>
						<dd class="select-all s_ed"><a href="#">全部</a></dd>
						<dd><a href="#">下城区</a></dd>
						<dd><a href="#">江干区</a></dd>
						<dd><a href="#">拱墅区</a></dd>
						<dd><a href="#">西湖区</a></dd>
						<dd><a href="#">滨江区</a></dd>
						<dd><a href="#">下城区</a></dd>
						<dd><a href="#">江干区</a></dd>
						<dd><a href="#">拱墅区</a></dd>
						<dd><a href="#">西湖区</a></dd>
						<dd><a href="#">滨江区</a></dd>
						<dd><a href="#">下城区</a></dd>
						<dd><a href="#">江干区</a></dd>
						<dd><a href="#">拱墅区</a></dd>
						<dd><a href="#">西湖区</a></dd>
						<dd><a href="#">滨江区</a></dd>
						<dd><a href="#">下城区</a></dd>
						<dd><a href="#">江干区</a></dd>
						<dd><a href="#">拱墅区</a></dd>
						<dd><a href="#">西湖区</a></dd>
						<dd><a href="#">滨江区</a></dd>
					</dl>
				</li>
				<li class="select-list">
					<dl id="select2">
						<dt>资产类型</dt>
						<dd class="select-all s_ed"><a href="#">全部</a></dd>
						<dd><a href="#">住宅</a></dd>
						<dd><a href="#">别墅</a></dd>
						<dd><a href="#">酒店式公寓</a></dd>
						<dd><a href="#">商铺</a></dd>
						<dd><a href="#">办公楼</a></dd>
					</dl>
				</li>
				<li class="select-list">
					<dl id="select3">
						<dt>资产账面价值</dt>
						<dd class="select-all s_ed"><a href="#">全部</a></dd>
						<dd><a href="#">111111</a></dd>
						<dd><a href="#">222222</a></dd>
					</dl>
				</li>
				<li class="select-list">
					<dl id="select4">
						<dt>资产状态</dt>
						<dd class="select-all s_ed"><a href="#">全部</a></dd>
						<dd><a href="#">有效资产</a></dd>
						<dd><a href="#">过期资产</a></dd>
						<dd><a href="#">已中标</a></dd>
						<dd><a href="#">已流拍</a></dd>
					</dl>
				</li>								
			</ul>
		</div>	
	</div>
	
	
	<div class="clearfix"></div>
	<div id="myTabContent" class="tab-content" >		
		<!-- 资产直通车 -->
		<div class="houselist value con12 tab-pane fade in active" id="zhitongche">
<!-- 			<div class="houselist_head">
				<ul class="filter1_1" style="float:left">
					<li data-filter="5">有效资产</li>
					<li data-filter="6">过期资产</li>
				</ul>
				<div class="clearfix"></div>
			</div>	 -->
			<div class="houselist2_l">
				<h2>资产直通车 <span>独家资源，低价处置</span></h2>					
				<div class="dowebok">	
					<div class="filtr-item" data-category="5">
						<div class="houselist2_con">
							<div class="houselist2_img">
								<a href="filtr-item"><img src="images/index/new1.jpg"><div class="tips"><p>独家</p></div></a>						
							</div>
							<div class="houselist2_text">
								<p class="info2_text house_name">开拍中开拍中开拍中开拍中开拍中开拍中</p>
								<p class="info2_text house_price1">处置价：<span>超值</span><span>面议</span></p>
								<p class="info2_text house_price2">市场价：<span>323万</span></p>
								<p class="info2_text house_time">截止至：2013-06-11</p>
								<p class="info2_text house_tags">
									<span class="house_tag">可贷款</span>
									<span class="house_tag">可按揭</span>
									<span class="house_tag">无过户障碍</span>
								</p>
							</div>			
						</div>	
					</div>	
					<div class="filtr-item" data-category="5">
						<div class="houselist2_con">
							<div class="houselist2_img">
								<a href="filtr-item"><img src="images/index/new1.jpg"><div class="tips"><p>独家</p></div></a>
							</div>
							<div class="houselist2_text">
								<p class="info2_text house_name">开拍中开拍中开拍中开拍中开拍中开拍中</p>
								<p class="info2_text house_price1">处置价：<span>超值</span><span>面议</span></p>
								<p class="info2_text house_price2">市场价：<span>323万</span></p>
								<p class="info2_text house_time">截止至：2013-06-11</p>
								<p class="info2_text house_tags">
									<span class="house_tag">可贷款</span>
									<span class="house_tag">可按揭</span>
									<span class="house_tag">无过户障碍</span>
								</p>
							</div>			
						</div>	
					</div>						
					<div class="filtr-item" data-category="6">
						<div class="houselist2_con">
							<div class="houselist2_img">
								<a href="filtr-item"><img src="images/index/new1.jpg"></a>									
							</div>
							<div class="houselist2_text">
								<p class="info2_text house_name">开拍中开拍中开拍中开拍中开拍中开拍中</p>
								<p class="info2_text house_price1">处置价：<span>超值</span><span>面议</span></p>
								<p class="info2_text house_price2">市场价：<span>323万</span></p>
								<p class="info2_text house_time">截止至：2013-06-11</p>
								<p class="info2_text house_tags">
									<span class="house_tag">可贷款</span>
									<span class="house_tag">可按揭</span>
									<span class="house_tag">无过户障碍</span>
								</p>
							</div>			
						</div>	
					</div>						
					<div class="filtr-item" data-category="6">
						<div class="houselist2_con">
							<div class="houselist2_img">
								<a href="filtr-item"><img src="images/index/new1.jpg"></a>									
							</div>
							<div class="houselist2_text">
								<p class="info2_text house_name">开拍中开拍中开拍中开拍中开拍中开拍中</p>
								<p class="info2_text house_price1">处置价：<span>超值</span><span>面议</span></p>
								<p class="info2_text house_price2">市场价：<span>323万</span></p>
								<p class="info2_text house_time">截止至：2013-06-11</p>
								<p class="info2_text house_tags">
									<span class="house_tag">可贷款</span>
									<span class="house_tag">可按揭</span>
									<span class="house_tag">无过户障碍</span>
								</p>
							</div>			
						</div>	
					</div>						
				</div>
				<div class="page">	
					<ul class="pagination">
					  <li><a href="#">上一页</a></li>
					  <li><a href="#">1</a></li>
					  <li><a href="#">2</a></li>
					  <li><a href="#">3</a></li>
					  <li><a href="#">4</a></li>
					  <li><a href="#">5</a></li>
					  <li><a href="#">下一页</a></li>
					</ul>	
				</div>	
			</div>			
		</div>	
		<div class="houselist2_2">		
			<h2>特惠抢购</h2>
			<div class="houselist2_recommended">
				<div class="houselist2_img">
					<a href=""><img src="images/index/new1.jpg"></a>
				</div>
				<div class="houselist2_text">
					<p class="info2_text re_info">
						<span class="re_name">金地自在城</span>
						<span class="re_price">均价：15000元/㎡</span>
					</p>
					<p class="info2_text re_voucher">
						<span class="re_v">1000抵10000券</span>
						<span class="re_btn">立即抢购</span>
					</p>
				</div>			
			</div>	
			<div class="houselist2_recommended">
				<div class="houselist2_img">
					<a href=""><img src="images/index/new1.jpg"></a>
				</div>
				<div class="houselist2_text">
					<p class="info2_text re_info">
						<span class="re_name">金地自在城</span>
						<span class="re_price">均价：15000元/㎡</span>
					</p>
					<p class="info2_text re_voucher">
						<span class="re_v">1000抵10000券</span>
						<span class="re_btn">立即抢购</span>
					</p>
				</div>			
			</div>			
			<div class="houselist2_recommended">
				<div class="houselist2_img">
					<a href=""><img src="images/index/new1.jpg"></a>
				</div>
				<div class="houselist2_text">
					<p class="info2_text re_info">
						<span class="re_name">金地自在城</span>
						<span class="re_price">均价：15000元/㎡</span>
					</p>
					<p class="info2_text re_voucher">
						<span class="re_v">1000抵10000券</span>
						<span class="re_btn">立即抢购</span>
					</p>
				</div>			
			</div>			
			<div class="houselist2_recommended">
				<div class="houselist2_img">
					<a href=""><img src="images/index/new1.jpg"></a>
				</div>
				<div class="houselist2_text">
					<p class="info2_text re_info">
						<span class="re_name">金地自在城</span>
						<span class="re_price">均价：15000元/㎡</span>
					</p>
					<p class="info2_text re_voucher">
						<span class="re_v">1000抵10000券</span>
						<span class="re_btn">立即抢购</span>
					</p>
				</div>			
			</div>			
		</div>
	</div>	
</div>		
<div class="clearfix"></div>
</div>	<!-- 背景结束标签 -->
<footer class="noprint">
	<ul class="ib sub-nav">
		<li><a target="_self" href="/general-pages/about-us">关于我们</a></li>
		<li class="line" ng-if="!is91Flight">|</li>
		<li><a target="_self" href="/general-pages/partners">合作伙伴</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/business-cooperation">商务合作</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/join-us" >加入我们</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/contact-us">联系我们</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/service-protocol">服务声明</a></li>
	</ul>
	<ul class="ib im">
		<li class="wechat-con"><a href="javscript:void(0);" onMouseOut="hideImg()"  onmouseover="showImg()">微信</a><div class="wechat"></div></li>
		<li class="sina"><a href="http://weibo.com/qiangxianpai?refer_flag=1001030101_" target="_blank">新浪微博</a></li>
		<li class="taobao" ng-if="!is91Flight"><a href="https://shop143101383.taobao.com/index.htm?spm=2013.1.w5002-14693851524.2.TSpzsC" target="_blank">淘宝</a></li>
	</ul>
	<p>抢先拍@2016 All rights reserved | 增值电信业务经营许可证:浙B2-20160073<br>
		浙ICP备15018503号 | <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010502002186" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;color:#fff;"><img src="images/public/ghs.png" style="float:left;"/>&nbsp;浙公网安备 33010502002186号</a></p>
</footer>
<!-- 二维码显隐 -->
<script type="text/javascript">
function  showImg(){
	$(".wechat").css("display","block");
}
function hideImg(){
	$(".wechat").css("display","none");
}
</script>
<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script> 
<script src="js/jquery.filterizr.js"></script>	
<script>
	$(function() {
		$('.dowebok').filterizr();

		$('.filter1_1 li').on('click', function() {
			$(this).toggleClass('active').siblings().removeClass('active');
		});
	});
</script>	
<script type="text/javascript">
$(function(){
	$(".selectd").each(function(){
		var s=$(this);
		var z=parseInt(s.css("z-index"));
		var dt=$(this).children("dt");
		var dd=$(this).children("dd");
		var _show=function(){dd.slideDown(200);dt.addClass("cur");s.css("z-index",z+1);};   //展开效果
		var _hide=function(){dd.slideUp(200);dt.removeClass("cur");s.css("z-index",z);};    //关闭效果
		dt.click(function(){dd.is(":hidden")?_show():_hide();});
		dd.find("a").click(function(){dt.html($(this).html());_hide();});     //选择效果（如需要传值，可自定义参数，在此处返回对应的“value”值 ）
		$("body").click(function(i){ !$(i.target).parents(".selectd").first().is(s) ? _hide():"";});
	})
})
</script>

<script>  //7.27号新的筛选
$(document).ready(function(){			
	$("#select1 dd").click(function () {
		$(this).addClass("s_ed").siblings().removeClass("s_ed");		
	});	
	$("#select2 dd").click(function () {
		$(this).addClass("s_ed").siblings().removeClass("s_ed");		
	});	
	$("#select3 dd").click(function () {
		$(this).addClass("s_ed").siblings().removeClass("s_ed");		
	});		
	$("#select4 dd").click(function () {
		$(this).addClass("s_ed").siblings().removeClass("s_ed");
	});	
});
</script>	










</body>
</html>


