<!DOCTYPE html>
<html>
<head>
	<title>首页 - 抢先拍</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/public.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">	
</head>
<body>	
	<!-- 头部开始 -->
	<div id="header">	
		<div class="con12">
			<a href="" class="logo"></a>
			<div id="top">
				<div id="nav">
					<nav class="navbar navbar-default" role="navigation">
					   <div class="navbar-header">
						  <button type="button" class="navbar-toggle" data-toggle="collapse" 
							 data-target="#example-navbar-collapse">
							 <span class="sr-only">切换导航</span>
							 <span class="icon-bar"></span>
							 <span class="icon-bar"></span>
							 <span class="icon-bar"></span>
						  </button>
					   </div>
					   <div class="collapse navbar-collapse" id="example-navbar-collapse">
						  <ul class="nav navbar-nav">
							 <li class="active"><a href="index.html">首页</a></li>
							 <li><a href="houselist.html">房屋列表</a></li>
							 <li><a href="newslist.html">资讯信息</a></li>
							 <li><a href="videolist.html">视频中心</a></li>
							 <li><a href="about.html">关于我们</a></li>
						  </ul>
					   </div>
					</nav>
				</div>
				<div id="other">
					<p><a href="login.html">登录</a><a href="register.html">注册</a></p>			
					<p><a href="" style="display:none">用户名</a></p>
					<p style="padding:0 10px">免费咨询电话：400-060-2595</p>
				</div>	
				<div class="clearfix"></div>
			</div>
		</div>	
	</div>	
	<!-- 头部结束 -->
	<div id="indexCarousel" class="carousel slide">
	   <!-- 背景轮播 -->
	   <div class="carousel-inner">
		  <div class="item carouselimg1 active"></div>
		  <div class="item carouselimg2"></div>
		  <div class="item carouselimg3"> </div>
	   </div>
	   <!-- 搜索框 -->
		<div class="nav-box">
			<div class="search-con">
				<h1>领先的价值资产交易服务平台</h1>
				<div class="search-box">
					<div class="search-panel">
                        <ul class="search-tab tab ib" id="tabBar">
                            <li class="search_list on" tips="请输入产品名称">司法拍卖</li>
                            <li class="search_list" tips="请输入产v品名称">资产直通车</li>
                            <li class="search_list" tips="请输入产dasds品名称">一手特惠房</li>
                        </ul>
                        <div class="">
                            <div class="search-sort-con">
                                <form class="search-form clearfix">
                                    <input class="txt" type="text" id="keyword" name="keyword" placeholder="请输入产品名称">
                                    <input type="submit" class="btn" value="搜索">
                                </form>
                            </div>
                        </div>
						<p class="playvideo"><a href="" data-toggle="modal" data-target="#myModal_video1" data-dismiss="modal" aria-hidden="true"><img src="images/index/play.png">  超值资产，点击开启简陋之旅</a></p>		
						<!-- 视频模态框（Modal） -->
						<div class="modal fade" id="myModal_video1" tabindex="-1" role="dialog" 
						   aria-labelledby="myModalLabel" aria-hidden="true">
						   <div class="modal-dialog">
							  <div class="modal-content">
								<video width="100%" controls id="video1">
								  <source src="images/index/sp(1).mp4" type="video/mp4">
								</video>
							  </div><!-- /.modal-content -->
						   </div><!-- /.modal -->
						</div>							
						<script>
							// 视频播放	   
							var myVideo=document.getElementById("video1"); 
							function playPause(){ 
								  myVideo.play(); 
							} 	  
						</script>													
                    </div>				
				</div>
			</div>
		</div>

	</div> 
	<!-- 模块入口 -->
	<div class="module-entrance">
		<div class="container">
			<div class="module-grids">
				<div class="col-md-3 module-grid">
					<h4>司法拍卖</h4>				
					<img src="images/index/cy1.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 module-grid">
					<h4>资产直通车</h4>				
					<img src="images/index/cy2.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 module-grid">
					<h4>一手特惠房</h4>				
					<img src="images/index/cy3.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 module-grid">
					<h4>资讯信息</h4>				
					<img src="images/index/cy4.png" class="img-responsive" alt="">
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>	
	<!-- 数据展示 -->
	<div class="datedisplay">
	 <div class="container">
		<ul class="params-summary-list">
			<li>
				<img src="images/index/date1.png" style="float:left">
				<div style="float:left">
					<label>已有房源</label>				
					<em class="c_red">19649</em><small>套</small>				
				</div>
			</li>
			<li>
				<img src="images/index/date2.png" style="float:left">
				<div style="float:left">
					<label>昨日新增房源</label>				
					<em class="c_red">23562</em><small>套</small>		
				</div>				

			</li>
		</ul>
		 <div class="clearfix"></div>
	 </div>
	</div> 
</div><!-- 背景f5结束标签 -->	
	
<div style="background:#f5f5f5;padding:50px 0">	
<!-- 平台特点 -->	
<div class="mask4-wrapper">
	<h2>价值资产 <span>覆盖全国16座城市，持续扩张中</span></h2>
	<ul class="clearfix">
		<li><h3>专家解读</h3><p>资深专家</br>在线答疑</p></li>
		<li><h3>数据分析</h3><p>大数据库</br>专业分析</p></li>
		<li><h3>全程服务</h3><p>从始而终</br>安心无忧</p></li>
		<li><h3>金融助力</h3><p>合法资金</br>强大保障</p></li>
	</ul>
</div>		
	<!-- 城市入口 -->
	<div class="city-entrance">
		<div class="container">
			<h2>价值资产 <span>覆盖全国16座城市，持续扩张中</span></h2>
			<a href="">更多<span class="glyphicon glyphicon-chevron-right"></span></a>
			<div class="clearfix"></div>
			<div class="city-grids">
				<div class="projects1">
					<div class="col-md-4 city-grid">
						<div class="city_img">
							<a href=""><h1>杭州</h1></a>
						</div>						
					</div>				
					<div class="col-md-4 city-grid">
						<div class="city_img">
							<a href=""><h1>北京</h1></a>
						</div>						
					</div>
					<div class="col-md-4 city-grid">
						<div class="city_img">
							<a href=""><h1>上海</h1></a>
						</div>						
					</div>
					<div class="col-md-4 city-grid">
						<div class="city_img">
							<a href=""><h1>广州</h1></a>
						</div>						
					</div>
					<div class="col-md-4 city-grid">
						<div class="city_img">
							<a href=""><h1>深圳</h1></a>
						</div>						
					</div>
					<div class="col-md-4 city-grid">
						<div class="city_img">
							<a href=""><h1>厦门</h1></a>
						</div>						
					</div>				
				</div>
			</div>
		</div>
	</div>		
<!-- 司法拍卖	 -->
<div class="city_tuijian con12">
	<h2 style="float:left;">司法拍卖 <span>专业指导，精确捡漏</span></h2>
	<ul id="myTab" class="nav nav-tabs" style="float:right">
	   <li class="active"><a href="#beijing" data-toggle="tab">北京</a></li>
	   <li><a href="#shanghai" data-toggle="tab">上海</a></li>
	   <li><a href="#guangzhou" data-toggle="tab">广州</a></li>
	   <li><a href="#gengduo" data-toggle="tab">更多</a></li>
	</ul>
	<div class="clearfix"></div>
	<div id="myTabContent" class="tab-content" >
		<!-- 城市1 -->
		<div class="value con12 tab-pane fade in active" id="beijing">
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">中旅城市公馆</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">北京北京北京北京北京北京北京北京</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">北京北京北京北京北京北京北京北京</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">北京北京北京北京北京北京北京北京</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p style="color:#fff">
							<span style="float:left">小区名字</span>
							<span style="float:right"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text" style="border-bottom:1px solid #eee">
					<p style="padding:10px 20px;">
						<span style="float:left">204.91㎡</span>
						<span style="float:right">起拍价：<em style="color:#e66140">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text">
					<p>北京北京北京北京北京北京北京北京</p>
					<p style="padding:10px 20px;">
						<span style="float:left">204.91㎡</span>
						<span style="float:right">起拍价：<em style="color:#e66140">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">北京北京北京北京北京北京北京北京</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">北京北京北京北京北京北京北京北京</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
		</div>	
		<!-- 城市2 -->
		<div class="value con12 tab-pane fade" id="shanghai">
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">上海上海上海上海上海上海上海上海</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">上海上海上海上海上海上海上海上海</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">上海上海上海上海上海上海上海上海</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">上海上海上海上海上海上海上海上海</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">上海上海上海上海上海上海上海上海</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">上海上海上海上海上海上海上海上海</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="clearfix"></div>
		</div>	
		<!-- 城市3 -->
	    <div class="value con12 tab-pane fade" id="guangzhou">
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">广州广州广州广州广州广州广州</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">广州广州广州广州广州广州广州</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">广州广州广州广州广州广州广州</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">广州广州广州广州广州广州广州</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">广州广州广州广州广州广州广州</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">广州广州广州广州广州广州广州</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="clearfix"></div>
		</div>	
		<!-- 城市4 -->
	   <div class="value con12 tab-pane fade" id="gengduo">
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">更多更多更多更多更多更多更多更多更多</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">更多更多更多更多更多更多更多更多更多</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">更多更多更多更多更多更多更多更多更多</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">更多更多更多更多更多更多更多更多更多</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>		
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">更多更多更多更多更多更多更多更多更多</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="value_con w360">
				<div class="value_img">
					<a href=""><img src="images/index/new1.jpg"></a>	
					<div class="mask w360">
						<p><span class="area_name">小区名字</span>
							<span class="area_position"><small>江干区</small><small>丁桥</small></span>
						</p><div class="clearfix"></div>	
					</div>			
				</div>
				<div class="value_text info1">
					<p class="info1_text">
						<span class="size">204.91㎡</span>
						<span class="price">起拍价：<em class="c_red">576万元</em></span>
					</p><div class="clearfix"></div>			
				</div>
				<div class="value_text info2">
					<p class="house_name">更多更多更多更多更多更多更多更多更多</p>
					<p class="house_otherinfo">
						<span class="house_tags"><em class="house_tag">一拍</em><em class="house_tag">一拍</em><em class="house_tag">一拍</em></span>
						<span class="discount"><i>8</i>折</span>
					</p><div class="clearfix"></div>			
				</div>				
			</div>	
			<div class="clearfix"></div>
		</div>	
	</div>	
</div>		
<div class="clearfix"></div>	
</div><!-- 背景f5结束标签 -->
<!-- 下载APP -->
<div class="app-wrapper">
	<div class="app-info">
		<h1>价值资产 抢先一步</h1>
		<h6>下载抢先拍官方应用，免费订阅资产信息</h6>
		<p>* 领先的价值资产交易服务平台</p>
		<p>* 一手房，一手房之外的买房新渠道，高净值人士资产投资首选</p>
		<p>* 专业团队竞拍，高效金融助力，资产流通变现</p>
		<p>* 布局全国16城，覆盖15000余个社区，近10万条房源信息，不断增加中</p>
		<div class="link">
			<div>
				<a href="https://itunes.apple.com/cn/app/qiang-xian-pai-fang-chan-wei/id1068135130?mt=8">
				</a> <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.lightappbuilder.qxp"></a>
			</div>
			<img src="images/index/wechat.png" alt="qr" class="qrcode"> 
			<img src="images/index/video.png" title="抢先拍视频" alt="videos" class="videos" data-toggle="modal" onclick="playPause()" data-target="#myModal_video1">
		</div>
	</div>
</div>			
<!-- 视频模态框（Modal） -->
<div class="modal fade" id="myModal_video1" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
	  <div class="modal-content">
		<video width="100%" controls id="video1">
		  <source src="images/index/sp(1).mp4" type="video/mp4">
		</video>
	  </div><!-- /.modal-content -->
   </div><!-- /.modal -->
</div>							
<script>
	// 视频播放	   
	var myVideo=document.getElementById("video1"); 
	function playPause(){ 
		  myVideo.play(); 
	} 	  
</script>	

<div style="background:#f5f5f5;padding:50px 0">	
	<div class="news">	
		<div class="news1">	
			<h2>资讯信息 <span>热门资讯，一手掌握</span></h2>
			<div class="news_con">
				<div class="news_img">
					<a href=""><img src="images/index/new1.jpg"></a>		
				</div>
				<div class="news_text">
					<a href=""><h2 title="这里是新闻标题标题">这里是新闻标题标题</h2></a>
					<p>这里是新闻内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容</p>			
				</div>
			</div>			
			<div class="news_con">
				<div class="news_img">
					<a href=""><img src="images/index/new1.jpg"></a>			
				</div>
				<div class="news_text">
					<a href=""><h2 title="这里是新闻标题标题">这里是新闻标题标题</h2></a>
					<p>这里是新闻内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是新闻内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容</p>			
				</div>
			</div>		
			<div class="news_con">
				<div class="news_img">
					<a href=""><img src="images/index/new1.jpg"></a>			
				</div>
				<div class="news_text">
					<a href=""><h2 title="这里是新闻标题标题">这里是新闻标题标题</h2></a>
					<p>这里是新闻内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容</p>			
				</div>
			</div>
			<a href="" class="news_more" target="_blank">更多<span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>	
		<div class="news2">	
			<h2>媒体报道 <span>热门资讯，一手掌握</span></h2>
			<div class="news_con">
				<div class="news_img">
					<a href=""><img src="images/index/new1.jpg"></a>		
				</div>
				<div class="news_text">
					<a href=""><h2 title="这里是新闻标题标题">这里是新闻标题标题</h2></a>
					<p>这里是新闻内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容</p>			
				</div>
			</div>			
			<div class="news_con">
				<div class="news_img">
					<a href=""><img src="images/index/new1.jpg"></a>			
				</div>
				<div class="news_text">
					<a href=""><h2 title="这里是新闻标题标题">这里是新闻标题标题</h2></a>
					<p>这里是新闻内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是新闻内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容</p>			
				</div>
			</div>		
			<div class="news_con">
				<div class="news_img">
					<a href=""><img src="images/index/new1.jpg"></a>			
				</div>
				<div class="news_text">
					<a href=""><h2 title="这里是新闻标题标题">这里是新闻标题标题</h2></a>
					<p>这里是新闻内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容</p>			
				</div>
			</div>
			<a href="" class="news_more" target="_blank">更多<span class="glyphicon glyphicon-chevron-right"></span></a>			
		</div>			
		<div class="clearfix"></div>
	</div>	
</div>	<!-- 背景f5结束标签 -->
<!-- 合作伙伴 -->
<div class="partners">
	<h2>合作伙伴</h2>
	<img src="images/index/partner (1).jpg">
	<img src="images/index/partner (2).jpg">
	<img src="images/index/partner (3).jpg">
	<img src="images/index/partner (4).jpg">
	<img src="images/index/partner (5).jpg">
	<img src="images/index/partner (6).jpg">
	<img src="images/index/partner (7).jpg">
</div>
<footer class="noprint">
	<ul class="ib sub-nav">
		<li><a target="_self" href="/general-pages/about-us">关于我们</a></li>
		<li class="line" ng-if="!is91Flight">|</li>
		<li><a target="_self" href="/general-pages/partners">合作伙伴</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/business-cooperation">商务合作</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/join-us" >加入我们</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/contact-us">联系我们</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/service-protocol">服务声明</a></li>
	</ul>
	<ul class="ib im">
		<li class="wechat-con"><a href="javscript:void(0);" onMouseOut="hideImg()"  onmouseover="showImg()">微信</a><div class="wechat"></div></li>
		<li class="sina"><a href="http://weibo.com/qiangxianpai?refer_flag=1001030101_" target="_blank">新浪微博</a></li>
		<li class="taobao" ng-if="!is91Flight"><a href="https://shop143101383.taobao.com/index.htm?spm=2013.1.w5002-14693851524.2.TSpzsC" target="_blank">淘宝</a></li>
	</ul>
<!-- 	<p><img src="images/public/mfund.png" width="200px"></p>
	<p>抢先拍@2016 All rights reserved | 增值电信业务经营许可证:浙B2-20160073<br>
		浙ICP备15018503号 | <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010502002186" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;color:#fff;"><img src="images/public/ghs.png" style="float:left;"/>&nbsp;浙公网安备 33010502002186号</a></p> -->
	<div style="width:500px;margin:0 auto">
		<a href=""><img src="images/public/mfund.png" style="float:left"></a>
		<div style="float:left;text-align:left;padding-top:20px;">
			<p>抢先拍@2016 All rights reserved</p>
			<p>增值电信业务经营许可证:浙B2-20160073</p>
			<p>浙ICP备15018503号</p>
			<p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010502002186" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;color:#fff;"><img src="images/public/ghs.png" style="float:left;"/>&nbsp;浙公网安备 33010502002186号</a></p>
		</div>
	</div>	
</footer>
<!-- 二维码显隐 -->
<script type="text/javascript">
function  showImg(){
	$(".wechat").css("display","block");
}                                                                                           
function hideImg(){
	$(".wechat").css("display","none");
}
</script>
<script>
   $(function(){		  
	$("#indexCarousel").carousel('cycle');// 背景图片自动轮播
	// 搜索切换
	$('#tabBar').on('click', 'li', function(){
		var tips = $(this).attr('tips');
		if(tips){
			$(this).addClass('on').siblings().removeClass('on');
			$('#keyword').attr('placeholder',tips)
		}
	});		
   });  	   
</script>		

</body>
</html>


