<!DOCTYPE html>
<html>
<head>
	<title>资讯中心 - 抢先拍</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/public.css" rel="stylesheet">
	<link href="css/newslist.css" rel="stylesheet">
</head>
<body>
	<!-- 头部开始 -->
	<div id="header">	
		<div class="con12">
			<div id="top">
				<div class="header3_logo"></div>
				<div id="nav">
					<nav class="navbar navbar-default" role="navigation">
					   <div class="navbar-header">
						  <button type="button" class="navbar-toggle" data-toggle="collapse" 
							 data-target="#example-navbar-collapse">
							 <span class="sr-only">切换导航</span>
							 <span class="icon-bar"></span>
							 <span class="icon-bar"></span>
							 <span class="icon-bar"></span>
						  </button>
					   </div>
					   <div class="collapse navbar-collapse" id="example-navbar-collapse">
						  <ul class="nav navbar-nav">
							 <li><a href="index.html">首页</a></li>
							 <li class="active"><a href="houselist.html">房屋列表</a></li>
							 <li><a href="newslist.html">资讯信息</a></li>
							 <li><a href="videolist.html">视频中心</a></li>
							 <li><a href="about.html">关于我们</a></li>
						  </ul>
					   </div>
					</nav>
				</div>
				<div id="other">
					<p><a data-toggle="modal" data-target="#myModal_login">登录</a></p>	
					<p><span style="margin:0 10px">|</span></p>	
					<p><a data-toggle="modal" data-target="#myModal_reg">注册</a></p>
				</div>		
				<div class="clearfix"></div>
			</div>
		</div>	
	</div>	
	
	<div class="b1"></div>



<div class="bg_f8">

	<div class="news_nav">
		<div class="con12">
			<div class="news_navs">
				<ul>
					<li class="active">全部</li>
					<li>投资理财</li>
					<li>不良资产</li>
					<li>地产楼市</li>
					<li>互联网金融</li>
					<li>原创报告</li>			
				</ul>		
			</div>
			<div class="news_search">
				<form>
					<input type="text" placeholder="输入关键字"><input type="submit" value=" ">
				</form>				
			</div>
			<div class="clearfix"></div>		
		</div>
	</div>


	<div class="con12">
		<div class="newslists">
			<div class="newslist">
				<div class="news_img">
					<a href="" target="_blank"><img src="images/newslist/news1.jpg" class="img-responsive" alt=""></a>
				</div>
				<div class="news_text">
					<h4><a href="" target="_blank">英国脱欧后英镑汇率大跌 一线城市是房地产的避风港一线城市是房地产的避风港</a></h4>
					<p class="date"> 时间：2016-06-27 02:11:28</p>
					<p class="text">据英国广播公司最新消息，脱欧派胜出，英国成为首个脱离欧盟的国家。英镑盘中下跌逾1700点，跌破1.33美元，跌幅超10%！触及1985年以来最低水平。黄金一度暴涨100美元<br>
					中原地产首席分析师张大伟分析认为：对投资英国房产的客户来说，将受到这一政策影响，英国离开欧盟，不少大型银行肯定会将总部迁出伦敦，而伦敦目前作为全球主要的欧元交易中心的地位恐怕也将不保，金融行业人才会减少。另外英镑贬值，也导致投资降低。从投资机遇看，在短期看，英国房价都会下调的概率较大。中原地产首席分析师张大伟分析认为：对投资英国房产的客户来说，将受到这一政策影响，英国离开欧盟，不少大型银行肯定会将总部迁出伦敦，而伦敦目前作为全球主要的欧元交易中心的地位恐怕也将不保，金融行业人才会减少。另外英镑贬值，也导致投资降低。从投资机遇看，在短期看，英国房价都会下调的概率较大。</p>
				</div>
				<div class="tag"><p>互联网金融</p></div>
				<div class="clearfix"></div>		
			</div>
			
			<div class="newslist">
				<div class="news_img">
					<a href="" target="_blank"><img src="images/newslist/news1.jpg" class="img-responsive" alt=""></a>
				</div>
				<div class="news_text">
					<h4><a href="" target="_blank">英国脱欧后英镑汇率大跌 一线城市是房地产的避风港</a></h4>
					<p class="date"> 时间：2016-06-27 02:11:28</p>
					<p class="text">据英国广播公司最新消息，脱欧派胜出，英国成为首个脱离欧盟的国家。英镑盘中下跌逾1700点，跌破1.33美元，跌幅超10%！触及1985年以来最低水平。黄金一度暴涨100美元<br>
					中原地产首席分析师张大伟分析认为：</p>
				</div>
				<div class="tag"><p>原创报告</p></div>
				<div class="clearfix"></div>		
			</div>
			
			<div class="newslist">
				<div class="news_img">
					<a href="" target="_blank"><img src="images/newslist/news1.jpg" class="img-responsive" alt=""></a>
				</div>
				<div class="news_text">
					<h4><a href="" target="_blank">英国脱欧后英镑汇率大跌 一线城市是房地产的避风港</a></h4>
					<p class="date"> 时间：2016-06-27 02:11:28</p>
					<p class="text">据英国广播公司最新消息，脱欧派胜出，英国成为首个脱离欧盟的国家。英镑盘中下跌逾1700点，跌破1.33美元，跌幅超10%！触及1985年以来最低水平。黄金一度暴涨100美元<br>
					中原地产首席分析师张大伟分析认为：对投资英国房产的客户来说，将受到这一政策影响，英国离开欧盟，不少大型银行肯定会将总部迁出伦敦，而伦敦目前作为全球主要的欧元交易中心的地位恐怕也将不保，金融行业人才会减少。另外英镑贬值，也导致投资降低。从投资机遇看，在短期看，英国房价都会下调的概率较大</p>
				</div>
				<div class="tag"><p>原创报告</p></div>
				<div class="clearfix"></div>		
			</div>
			<!-- 分页 -->
<!-- 			<div style="text-align:center;margin-top:50px">
				<nav style="margin:auto;float:none">
					<div class="">
						<ul class="pagination">
							<li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
						</ul>
					</div>
				</nav>
			</div> -->
			<div class="news_more">
				<!-- <p>查看更多</p> -->
				<p><img src="images/public/no.png"> 没有更多</p>			
			</div>
		</div>
		<div class="houselist2_2">		
			<h2>特惠抢购</h2>
			<div class="houselist2_recommended">
				<div class="houselist2_img">
					<a href=""><img src="images/index/new1.jpg"></a>
				</div>
				<div class="houselist2_text">
					<p class="info2_text re_info">
						<span class="re_name">金地自在城</span>
						<span class="re_price">均价：15000元/㎡</span>
					</p>
					<p class="info2_text re_voucher">
						<span class="re_v">1000抵10000券</span>
						<span class="re_btn">立即抢购</span>
					</p>
				</div>			
			</div>	
			<div class="houselist2_recommended">
				<div class="houselist2_img">
					<a href=""><img src="images/index/new1.jpg"></a>
				</div>
				<div class="houselist2_text">
					<p class="info2_text re_info">
						<span class="re_name">金地自在城</span>
						<span class="re_price">均价：15000元/㎡</span>
					</p>
					<p class="info2_text re_voucher">
						<span class="re_v">1000抵10000券</span>
						<span class="re_btn">立即抢购</span>
					</p>
				</div>			
			</div>			
			<div class="houselist2_recommended">
				<div class="houselist2_img">
					<a href=""><img src="images/index/new1.jpg"></a>
				</div>
				<div class="houselist2_text">
					<p class="info2_text re_info">
						<span class="re_name">金地自在城</span>
						<span class="re_price">均价：15000元/㎡</span>
					</p>
					<p class="info2_text re_voucher">
						<span class="re_v">1000抵10000券</span>
						<span class="re_btn">立即抢购</span>
					</p>
				</div>			
			</div>			
			<div class="houselist2_recommended">
				<div class="houselist2_img">
					<a href=""><img src="images/index/new1.jpg"></a>
				</div>
				<div class="houselist2_text">
					<p class="info2_text re_info">
						<span class="re_name">金地自在城</span>
						<span class="re_price">均价：15000元/㎡</span>
					</p>
					<p class="info2_text re_voucher">
						<span class="re_v">1000抵10000券</span>
						<span class="re_btn">立即抢购</span>
					</p>
				</div>			
			</div>			
		</div>		
		<div class="clearfix"></div>
	</div>
</div> <!-- 背景F8结束标签 -->

<footer class="noprint">
	<ul class="ib sub-nav">
		<li><a target="_self" href="/general-pages/about-us">关于我们</a></li>
		<li class="line" ng-if="!is91Flight">|</li>
		<li><a target="_self" href="/general-pages/partners">合作伙伴</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/business-cooperation">商务合作</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/join-us" >加入我们</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/contact-us">联系我们</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/service-protocol">服务声明</a></li>
	</ul>
	<ul class="ib im">
		<li class="wechat-con"><a href="javscript:void(0);" onMouseOut="hideImg()"  onmouseover="showImg()">微信</a><div class="wechat"></div></li>
		<li class="sina"><a href="http://weibo.com/qiangxianpai?refer_flag=1001030101_" target="_blank">新浪微博</a></li>
		<li class="taobao" ng-if="!is91Flight"><a href="https://shop143101383.taobao.com/index.htm?spm=2013.1.w5002-14693851524.2.TSpzsC" target="_blank">淘宝</a></li>
	</ul>
	<p>抢先拍@2016 All rights reserved | 增值电信业务经营许可证:浙B2-20160073<br>
		浙ICP备15018503号 | <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010502002186" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;color:#fff;"><img src="images/public/ghs.png" style="float:left;"/>&nbsp;浙公网安备 33010502002186号</a></p>
</footer>
<!-- 二维码显隐 -->
<script type="text/javascript">
function  showImg(){
	$(".wechat").css("display","block");
}
function hideImg(){
	$(".wechat").css("display","none");
}
</script>










<script>
$(document).ready(function(){	
	$(".news_navs ul li").click(function () {
		$(this).addClass("active").siblings().removeClass("active");		
	});	
});	


</script>




	
</body>
</html>


