<!DOCTYPE html>
<html>
<head>
	<title>资讯中心 - 抢先拍</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/public.css" rel="stylesheet">
	<link href="css/newslist.css" rel="stylesheet">
</head>
<body>
<!-- 头部开始 -->
<div id="header">	
	<div class="con12">
		<div id="top">
			<div class="header3_logo"></div>
			<div id="nav">
				<nav class="navbar navbar-default" role="navigation">
				   <div class="navbar-header">
					  <button type="button" class="navbar-toggle" data-toggle="collapse" 
						 data-target="#example-navbar-collapse">
						 <span class="sr-only">切换导航</span>
						 <span class="icon-bar"></span>
						 <span class="icon-bar"></span>
						 <span class="icon-bar"></span>
					  </button>
				   </div>
				   <div class="collapse navbar-collapse" id="example-navbar-collapse">
					  <ul class="nav navbar-nav">
						 <li><a href="index.html">首页</a></li>
						 <li class="active"><a href="houselist.html">房屋列表</a></li>
						 <li><a href="newslist.html">资讯信息</a></li>
						 <li><a href="videolist.html">视频中心</a></li>
						 <li><a href="about.html">关于我们</a></li>
					  </ul>
				   </div>
				</nav>
			</div>
			<div id="other">
				<p><a href="login.html">登录</a><a href="register.html">注册</a></p>			
				<p><a href="" style="display:none">用户名</a></p>
				<p style="padding:0 10px">免费咨询电话：400-060-2595</p>
			</div>		
			<div class="clearfix"></div>
		</div>
	</div>	
</div>		
<!-- 头部结束 -->
<div class="bg_f8">
	<div class="con12">
		<div class="newsdetails">
			<h2>标题标题标题标题标题标题标题标题标题标题</h2>
			<p class="news_info"><span>作者名字</span><span>2013-06-20</span></p>			
			<p><img src="http://7xo7rx.com2.z0.glb.qiniucdn.com/1469675281.gif" title="" alt=""></p>
			<p><span>传说美国的房子比中国便宜，比如底特律出现标价1美元的房子，美国的独栋别墅20万美元就能买到。</span></p>
			<p><span>但人们不知道，在美国，绝大多数房子都不是坐落在中国人标准体系中的城市。在美国公路电影《德克萨斯的巴黎》和《末路狂花》里，人们对城市和房屋的印象模糊到接近于无，这不能怪导演，因为在我们看来不起眼的中小城镇，本来就是美国城市的主流。</span></p>
			<p><span>这些城镇土地上最大的投资不是CBD和综合体，而是那一条条载满了狂野故事的高速公路。生活配套都是基本型的，一两个小超市、一个木制教堂、一个小酒吧，也就差不多了。再加上美国土地私有，碎片式的土地分散供应，没有大庄家，土地供给量很难出现明显的高潮和低谷。</span><img src="http://7xo7rx.com2.z0.glb.qiniucdn.com/1469674778.jpg" title="" alt=""></p>
			<p><span>这些造成了美国土地价值不高，增值性不强，甚至不如中国的三线城市。所以，在美国的大部分地区建新房，就其土地成本而言，相当于中国的小产权房。</span></p><p><span>即使在像纽约和芝加哥这样的大都市，由于城市的大规模投资基本停止，土地价值的增长趋于停滞。更主要的是，住房市场属于存量市场，地段和品质最好的房子都是二手房，不存在新盘定价的雁行效应。</span></p>
			<p><span>当然，影响更深远的还是物业税，每年按房产的市场价评估征收，这使得持有房产的长期成本增加，进一步消弱了房产的投资性。</span></p>
			<p><span>打个形象的比方，在中国买房，好比买了游乐园的通票，玩遍所有项目也不用再花钱；在美国买房，仅仅是买了张门票，入园后的每个项目都需再补上一刀。</span></p>
			<p><span>在中国买房是一次性付款，购房成本前置，买房后独享增值利益；在美国买房是一世性付款，购房成本长期分摊，即使房产不增值，也需每年支出赋税成本，如有增值，则是社会与业主共享。</span></p>
			<p><span>中国作为增量市场，大规模集中性投资在先，买房后除了物业费，几乎没有任何持有成本，房价上涨是靠大量投资的内在支撑和新盘雁行效应的外在牵引。</span></p>
			<p><span>而美国正好相反，作为存量市场，事前无大规模连续投资，事后又有伴随一生的持有成本负担，除非有极特殊的地位，如纽约的全球金融中心和国际化大都市，美国房价易稳难升。</span><img src="http://7xo7rx.com2.z0.glb.qiniucdn.com/1469674961.jpg" title="" alt=""></p>
			<p><span>次贷危机的爆发，恰恰是美国不顾其存量市场和以中小城镇为主的特征，硬是以加大杠杆率降低资金成本的金融手段拉升房价，最后鸡飞蛋打。</span></p>
			<p><span>可见，中美房地产各方面的差异之大，不可以道里计。如果静态比较中美房价，视角差之毫厘，结论失之千里。1美元的房子和20万美元的别墅可能是事实，但它所在的城市凋弊、产业衰败、人口流出、黑人遍地，你买下来之后，还要按照规划法令，投资修缮，难租难卖难住。这两个美妙的数字对你而言，有啥意义？</span></p>
			<p><span>来源：豪言</span><img src="http://7xo7rx.com2.z0.glb.qiniucdn.com/1469675172.gif" title="" alt=""></p>					
		</div>
		<div class="houselist2_2">		
			<h2>特惠抢购</h2>
			<div class="houselist2_recommended">
				<div class="houselist2_img">
					<a href=""><img src="images/index/new1.jpg"></a>
				</div>
				<div class="houselist2_text">
					<p class="info2_text re_info">
						<span class="re_name">金地自在城</span>
						<span class="re_price">均价：15000元/㎡</span>
					</p>
					<p class="info2_text re_voucher">
						<span class="re_v">1000抵10000券</span>
						<span class="re_btn">立即抢购</span>
					</p>
				</div>			
			</div>	
			<div class="houselist2_recommended">
				<div class="houselist2_img">
					<a href=""><img src="images/index/new1.jpg"></a>
				</div>
				<div class="houselist2_text">
					<p class="info2_text re_info">
						<span class="re_name">金地自在城</span>
						<span class="re_price">均价：15000元/㎡</span>
					</p>
					<p class="info2_text re_voucher">
						<span class="re_v">1000抵10000券</span>
						<span class="re_btn">立即抢购</span>
					</p>
				</div>			
			</div>			
			<div class="houselist2_recommended">
				<div class="houselist2_img">
					<a href=""><img src="images/index/new1.jpg"></a>
				</div>
				<div class="houselist2_text">
					<p class="info2_text re_info">
						<span class="re_name">金地自在城</span>
						<span class="re_price">均价：15000元/㎡</span>
					</p>
					<p class="info2_text re_voucher">
						<span class="re_v">1000抵10000券</span>
						<span class="re_btn">立即抢购</span>
					</p>
				</div>			
			</div>			
			<div class="houselist2_recommended">
				<div class="houselist2_img">
					<a href=""><img src="images/index/new1.jpg"></a>
				</div>
				<div class="houselist2_text">
					<p class="info2_text re_info">
						<span class="re_name">金地自在城</span>
						<span class="re_price">均价：15000元/㎡</span>
					</p>
					<p class="info2_text re_voucher">
						<span class="re_v">1000抵10000券</span>
						<span class="re_btn">立即抢购</span>
					</p>
				</div>			
			</div>			
		</div>		
		<div class="clearfix"></div>
	</div>
</div> <!-- 背景F8结束标签 -->


<footer class="noprint">
	<ul class="ib sub-nav">
		<li><a target="_self" href="/general-pages/about-us">关于我们</a></li>
		<li class="line" ng-if="!is91Flight">|</li>
		<li><a target="_self" href="/general-pages/partners">合作伙伴</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/business-cooperation">商务合作</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/join-us" >加入我们</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/contact-us">联系我们</a></li>
		<li class="line">|</li>
		<li><a target="_self" href="/general-pages/service-protocol">服务声明</a></li>
	</ul>
	<ul class="ib im">
		<li class="wechat-con"><a href="javscript:void(0);" onMouseOut="hideImg()"  onmouseover="showImg()">微信</a><div class="wechat"></div></li>
		<li class="sina"><a href="http://weibo.com/qiangxianpai?refer_flag=1001030101_" target="_blank">新浪微博</a></li>
		<li class="taobao" ng-if="!is91Flight"><a href="https://shop143101383.taobao.com/index.htm?spm=2013.1.w5002-14693851524.2.TSpzsC" target="_blank">淘宝</a></li>
	</ul>
	<div style="width:500px;margin:0 auto">
		<a href=""><img src="images/public/mfund.png" style="float:left"></a>
		<div style="float:left;text-align:left;padding-top:20px;">
			<p>抢先拍@2016 All rights reserved</p>
			<p>增值电信业务经营许可证:浙B2-20160073</p>
			<p>浙ICP备15018503号</p>
			<p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010502002186" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;color:#fff;"><img src="images/public/ghs.png" style="float:left;"/>&nbsp;浙公网安备 33010502002186号</a></p>
		</div>
	</div>	
</footer>
<!-- 二维码显隐 -->
<script type="text/javascript">
function  showImg(){
	$(".wechat").css("display","block");
}
function hideImg(){
	$(".wechat").css("display","none");
}
</script>

<script>
$(document).ready(function(){	
	$(".news_navs ul li").click(function () {
		$(this).addClass("active").siblings().removeClass("active");		
	});	
});	
</script>

</body>
</html>


