body{padding-top:44px}
body {
    font-family: "微软雅黑";
}
body.has-sticky-actionbar{padding:0}
.has-sticky-actionbar .zsg-nav-sub-wrapper{margin-top:-50px}
.searchbar-container.zsg-nav-sub-wrapper{position:static}
.modal_focus .zsg-nav-sub{z-index:900}
.pinnable-header{position:absolute;left:0;top:0;z-index:1005}
.pinnable-header::after{background-color:blue}
.pinnable-header_enabled:not(.ios-not-fixed) .pinnable-header{position:fixed;top:-44px;-webkit-transition:top 200ms ease-out;-moz-transition:top 200ms ease-out;-ms-transition:top 200ms ease-out;-o-transition:top 200ms ease-out;transition:top 200ms ease-out}
.header_pinned.pinnable-header_enabled:not(.ios-not-fixed) .pinnable-header,.header_force-pinned.pinnable-header_enabled:not(.ios-not-fixed) .pinnable-header{top:0}
.zss-header{z-index:1010;top:0;left:0;width:100%;margin-bottom:50px;height:50px;box-shadow:0 0 5px 0 #888}
.zss-header,.stripped-header .zss-header{height:44px}
.zss-header .responsive-page-title{display:block;width:calc(100% - 110px);height:44px;line-height:44px;overflow:hidden;text-overflow:ellipsis;font-size:15px;white-space:nowrap;font-weight:bold;padding:0 5px}
.has-sticky-actionbar .zss-header{position:relative}
.zss-header .zss-logo{height:44px;background-position:0 10px}
.tablet-web .zss-header{max-width:none}
.pinnable-header_enabled #wrapper{overflow-y:hidden;position:absolute;top:0;height:100%;width:100%}
.pinnable-header_enabled #content{height:100%;overflow-y:scroll;padding-top:44px;position:relative;-webkit-overflow-scrolling:touch;transform:translate3d(0,0,0)}
body:not(.zsg-layout_full) .zsg-layout-width.layout-width_marginless{width:100%;max-width:none;margin-left:auto;margin-right:auto}
@media screen and (min-width:1281px){body:not(.zsg-layout_full) .zsg-layout-width.layout-width_marginless{padding:0 calc((100% - 1240px) / 2)}
}
@media screen and (min-width:1025px){body:not(.zsg-layout_full).zsg-layout_lg .zsg-layout-width.layout-width_marginless{padding:0 calc((100% - 984px) / 2)}
}
body:not(.zsg-layout_full).zsg-layout_fixed .zsg-layout-width.layout-width_marginless{min-width:1280px}
body:not(.zsg-layout_full).zsg-layout_fixed.zsg-layout_lg .zsg-layout-width.layout-width_marginless{min-width:1024px}
@media screen and (min-width:769px){body{padding-top:0}
.zsg-nav-sub{padding-left:125px;margin-left:auto}
.modal_focus .zsg-nav-sub{z-index:900}
.zss-header{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-ms-flex;display:flex;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;-webkit-flex-flow:row nowrap;-ms-flex-flow:row nowrap;flex-flow:row nowrap;position:relative;width:100%;height:50px;z-index:1000;margin-bottom:49px;background:#fff;border-bottom:1px solid #ccc;box-shadow:0 1px 4px rgba(0,0,0,0.15)}
.zss-header .responsive-page-title{display:none}
.zss-header .nav-top{-webkit-box-flex:1 1 100%;-webkit-flex:1 1 100%;-ms-flex:1 1 100%;flex:1 1 100%}
.zss-header .zsg-logo{-webkit-box-flex:0 0 auto;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;position:relative;z-index:1020;vertical-align:top;margin-right:10px}
.zsg-layout_full .zss-header.zsg-layout-width{padding-left:0}
.stripped-header .zss-header{height:76px;margin-bottom:0}
}
@media screen and (max-width:768px){.zsg-nav-sub{margin-left:0}
}

.zsg-layout_full{padding-left:110px}
}